[2014-06-29 06:34] pcolby opened #1 "V2 route format"
Want to work out the `exercises/*/route` data format, and document the results at [Polar API V2](../wiki/Polar API V2).

[2014-06-30 00:31] thetrimaster opened #2 "how can I help"
Sorry I'm not a programmer but have the V800, RS800, RCX5, CS600, CS500 for testing. Would be great if you find a way for transfer.

[2014-07-01 01:17] profanum429 opened #3 "Possible Help - some .proto files"
Just getting started digging into protocol buffers (new to me...) but here are the .proto files I could pull out of the FlowSync software. They were in polar20.dll.

https://www.dropbox.com/s/w7b9dasbsh5fr2n/polar_proto.tar.gz

Hopefully this helps some!

[2014-07-02 11:29] #1 closed, assigned to nobody

[2014-07-02 11:35] pcolby opened #4 "Heart rate data"
Figure out how to parse / extract it from the protobuf data.

[2014-07-02 11:37] pcolby opened #5 "Cadence data"
Figure out how to parse / extract it from the protobuf data.

[2014-07-02 11:38] pcolby opened #6 "Wizard-based GUI"
Write it!

[2014-07-02 11:38] pcolby opened #7 "NSIS installer"
Write one.

[2014-07-02 19:18] dfeist opened #8 "Would love to help but am on Mac, any idea how to introduce hook on Mac?"

[2014-07-03 09:46] pcolby opened #9 "Project / app icon?"
Anyone have any thoughts / ideas?

[2014-07-16 00:55] #9 closed, assigned to nobody

[2014-07-16 00:57] #5 closed, assigned to nobody

[2014-07-16 11:59] #4 closed, assigned to pcolby

[2014-07-17 00:56] pcolby opened #10 "Use barometric altitude, when available, instead of GPS altitude for GPX"
Not a priority.

[2014-07-18 03:35] pcolby opened #11 "Maintain "create" request files."

[2014-07-18 09:46] #11 closed, assigned to pcolby

[2014-07-26 03:39] pcolby opened #12 "Auto-detect sport types"
TCX files must specify the "Sport" for each activity, where the "Sport" value can be one of: Running, Biking, or Other.

Currently, Bipolar uses "Other" for all activities.

Ideally, Bipolar should be able to either detect the sport type (eg from the training-sessions-create request's "sport" field), or infer it (eg from the presence of certain types of cadence / footpod data).

[2014-07-26 04:10] pcolby opened #13 "Test cadence support"
Bipolar 0.1.0 theoretically already supports cadence data (both foot and bike), however, I don't yet have any cadence data (nor any cadence devices).

So if someone is willing to install Bipolar 0.1.0 (or later) and test TCX generation with cadence info, that would be really appreciated :smile:

PS I do have both the bike sensors, and footpod on their way... just haven't received them yet.

[2014-07-26 23:18] #7 closed, assigned to pcolby

[2014-07-26 23:20] #3 closed, assigned to nobody

[2014-07-26 23:43] #12 closed, assigned to nobody

[2014-07-28 06:23] pcolby opened #14 "HRM export"
[Some](http://forum.polar.fi/showthread.php?p=85667#post85635) [people](http://forum.polar.fi/showthread.php?p=85667#post85638) have expressed interest in exporting session data to [Polar's HRM format](http://www.polar.com/files/Polar_HRM_file%20format.pdf) too.

Should be possible.

[2014-07-28 06:25] pcolby opened #15 "Qt 5.3.1"
Upgrade the release to Qt 5.3.1 (currently Qt 5.3.0).

[2014-07-29 07:41] #15 closed, assigned to pcolby

[2014-07-29 07:43] #10 closed, assigned to nobody

[2014-08-01 11:38] ldegiorgi opened #16 "Missing info after Garmin Connect update"
Hi,

just to start I want to thank you for your exceptional job!
To upload my data to Garmin Connect which is my main repository (other than SportTracks), I compared the TCX resulting from the export from FlowExport and your tool.
In particular, the data coming out from your TCX miss the following information: Max Speed and Average FC. This data is, instead, in the FlowExport TCX (there is missing

[2014-08-01 22:24] #13 closed, assigned to pcolby

[2014-08-02 00:52] pcolby opened #17 "Phases data?"
Does anyone have any "phases" data?  Presumably files ending is `*-phases`?

(The following is all based on assumptions)
1. Have the Bipolar (or at least the hook) installed.
2. log nto flow.polar.com website
3. go to "Diary"
4. click "ADD"
5. select "Training target"
6. click "PHASED"
7. fill out the rest of the page to setup a "phased" training target.
8. sync the training target(s) to the V800

[2014-08-03 06:30] pcolby opened #18 "Lap info in TCX output"

[2014-08-03 07:31] #16 closed, assigned to pcolby

[2014-08-03 07:35] #8 closed, assigned to nobody

[2014-08-03 22:08] pcolby opened #19 "Use tabs, not spaces, in HRM output"
As per the v1.4 spec - http://www.polar.com/files/Polar_HRM_file%20format.pdf

Also update / report at http://forum.polar.fi/showthread.php?p=85836#post85836

[2014-08-03 22:10] pcolby opened #20 "Incorrect split times in HRM output"
See http://forum.polar.fi/showthread.php?p=85839#post85839

[2014-08-04 10:05] #20 closed, assigned to nobody

[2014-08-04 10:06] #19 closed, assigned to nobody

[2014-08-05 01:38] profanum429 opened #21 "Small error in fixnum.cpp"
fixnum.cpp:54 has a small error in the 'sizeof(type == 8)))'. I believe it should be sizeof(Type)

[2014-08-05 03:17] #21 closed, assigned to pcolby

[2014-08-06 09:11] #17 closed, assigned to nobody

[2014-08-06 10:32] pcolby opened #22 "Lap info in GPX output"

[2014-08-06 10:38] pcolby opened #23 "HRM [ExtraData]"

[2014-08-07 06:42] tmiland opened #24 "Automatic upload to strava"
Hi,

i was wondering if it was possible to integrate automatic uploading of the .tcx file to strava?

I once suggested this to an app called TcxCreator (jmelhus.com), and that works well by monitoring the output folder, the send the file by email to upload [AT] strava.com

Regards. :)

[2014-08-07 09:49] #22 closed, assigned to pcolby

[2014-08-08 09:16] #18 closed, assigned to pcolby

[2014-08-09 01:21] #23 closed, assigned to pcolby

[2014-08-09 04:34] pcolby opened #25 "i18n"
The application is already structured for i18n - just need to add support for L10n files, which is pretty easy to do (with Qt).

[2014-08-09 04:48] #14 closed, assigned to pcolby

[2014-08-09 17:09] tmiland opened #26 "Temperature data for TCX"
Hi,

is it possible to add the temperature data in the tcx files? :-)

Regards.

[2014-08-10 22:52] pcolby opened #27 "TCX data truncated to last lap boundary"
This bug was introduced in 0.2.1, as part of the lap data support adding in that release.

[2014-08-12 06:26] #27 closed, assigned to pcolby

[2014-08-12 06:57] pcolby opened #28 "Extra HRM files for R-R data"
PPT5 allows the use of separate HRM files for general activity data and R-R data.  We already export the former.  Exporting the latter should be easy too.

[2014-08-12 11:22] pcolby opened #29 "Cluetrust GPXData Extension"
See https://github.com/pcolby/bipolar/wiki/GPX

[2014-08-12 11:23] pcolby opened #30 "Garmin TrackPoint Extension"
See https://github.com/pcolby/bipolar/wiki/GPX

[2014-08-12 11:25] pcolby opened #31 "Garmin Activity Extension"
See https://github.com/pcolby/bipolar/wiki/TCX

[2014-08-12 11:28] pcolby opened #32 "Garmin Acceleration Extension"
See https://github.com/pcolby/bipolar/wiki/GPX

[2014-08-13 10:01] #28 closed, assigned to nobody

[2014-08-18 08:40] pcolby opened #33 "QtCreator builds / debugging"

[2014-08-21 10:47] ldegiorgi opened #34 "Probable issue in distance between Flow and SportTracks using Stride sensor"
Hi,

i want to signal a possible bug related to the distance how it is reported in Flow and how it is reported i other tools (eg SportTracks).
Today I've done a manual calibration of the Polar Stride Sensot through 3 round on a track. The watch reported 1.1km but when I exported and imported in SportTracks, it report 800m....
How it can be possible? I've the file to share with you.

Best regards

[2014-08-22 03:07] pcolby opened #35 "TCX not recognized in Garmin Connect"
From http://www.dcrainmaker.com/2014/06/polar-v800-depth-review.html#comment-713639

[2014-08-22 03:08] pcolby opened #36 "TCX issues with Training Peaks"
From http://www.dcrainmaker.com/2014/06/polar-v800-depth-review.html#comment-713639

[2014-08-24 08:16] #6 closed, assigned to pcolby

[2014-08-24 08:19] #2 closed, assigned to nobody

[2014-08-24 09:31] #34 closed, assigned to pcolby

[2014-08-25 09:06] #33 closed, assigned to pcolby

[2014-09-04 09:22] vharman opened #37 "Getting Started"
I can't find the exe file that needs downloading.

[2014-09-05 22:52] #37 closed, assigned to pcolby

[2014-09-06 00:46] #36 closed, assigned to pcolby

[2014-09-15 08:18] KrisVildaer opened #38 "How to install?"
Hello,

I'm a new user of the Polar V800 and would indeed like to autosync the PolarFlow entries to Strava but it seems I'm not completely getting how to enable this via the Bipolar tool. I'm using Windows 7 and would like to know if there is an .exe install file or MSI install file. Also I've read that at some point a hook needs to be set by replacing a  Qt5Network.dll  file which sits into the P

[2014-09-24 06:10] #38 closed, assigned to nobody

[2014-10-04 10:24] dfeist opened #39 "Ability to download R-R file for orthostatic tests"

[2014-11-04 02:43] dtougas opened #40 "Polar M400"
I have a Polar M400 arriving tomorrow. It would be cool to get this software working with bipolar too, as I understand it is built on a similar platform as the V800. Anything special I need to know to start playing with this?

[2014-12-03 17:42] BerndGit opened #41 "Q: Polar Websync"
You write:
"The same hook process as used above will probably work for WebSync, but as WebSync has built-in support for exporting HRM/GPX files, its a lower priority."

I have test installed Polar WebSync 2.8.1 today. (from [1]) It looks like that the feature for direct data export has been removed. :-)  (Since I have bought no clock now I couldn't test it completly)

Any idea on, where to get an

[2014-12-03 22:33] ArtMag opened #42 "Problem with R-R data"
I have problem with export R-R data from Polar FlowSync (V800, wer. 2.3.8). Bipolar (0.3.1.520) still created file HRM but no R-R data recorded.

[2014-12-04 12:22] #41 closed, assigned to nobody

[2014-12-15 12:18] Nickpolar opened #43 "Power data export in hrm and tcx"
I have been using the V800 downloader for a couple of days now and would like to ask if you have any plans to include power data in those file formats . Currently only cadence seems to be exported .

Polar Flows TCX export is the same - only cadence but no power curve .   Power data from the V800 / Keo power bluetooth smart is there in full in Polar Flow webservice though .

[2015-01-02 04:33] pcolby commented on #43
@trimathias, are you happy for me to include the test data you sent me in the Bipolar project's unit test data suite?

This would mean that every time someone commits code changes to this repo, the unit tests will verify the parsing and HRM/GPX/TCX generation from your power data automatically, to ensure nothing breaks over time.  However, it also means that those files will be publically availabl

[2015-01-02 08:41] trimathias commented on #43
No, problem. Feel free to include the files in the test suite.
Den 2 jan 2015 05:33 skrev "Paul Colby" <notifications@github.com>:

[2015-01-02 23:59] pcolby commented on #35
Closing this issue since I cannot reproduce it, and have not received any new info to go on in 4 months.  If anyone wants to add more info, feel free to re-open it.

[2015-01-02 23:59] #35 closed

[2015-01-03 00:08] pcolby commented on #43
Just a quick update: I've got power _parsing_ working now (big thanks to @trimathias and @profanum429).  Now I just need to include the parsed data in the relevant output files (HRM, GPX, TCX).

[2015-01-03 00:13] pcolby commented on #32
Reopening, since Polar has added power support to the V800 now :smile:

[2015-01-03 00:18] pcolby opened #44 "Qt 5.4"
Qt 5.4 is out.  We should upgrade, just to keep up with the current release.

[2015-01-03 03:24] pcolby commented on #43
HRM is done.  TCX (via the Garmin Activity Extension) next.

[2015-01-04 14:54] msunela opened #45 "Support for activity data?"
Would it be possible to add support for parsing activity data?

[2015-01-04 21:49] pcolby opened #46 "Test data set with both laps and power"
Bipolar contains a few branches of code that only get executed if we have lap data with power data.  Currently, we have a number of test data sets for lap data, and one test data set for power data, but no sets with _both_ lap _and_ power data.

I, personally, don't have any power sensors, so if someone could provide such a test data set sometime, that would be brilliant!! :smile:

Note, the data

[2015-01-05 00:16] pcolby opened #47 "Garmin Course Extension"
See https://github.com/pcolby/bipolar/wiki/TCX

[2015-01-08 10:43] pcolby commented on #43
TCX power support done now too (along with a lot of other TCX and GPX extension data).

Just have to do some clean up, and prep for a new release :smile:

[2015-01-08 10:46] pcolby commented on #45
Should be possible.  What would we do once parsed?  Upload to some site like fitbit?  analyse for our own creative purposes?  ... just curious :smile:

[2015-01-09 07:00] pcolby commented on #44
Also consider [this PPA](https://launchpad.net/~beineri/+archive/ubuntu/opt-qt54) for Travis CI.

[2015-01-09 07:18] pcolby commented on #31
Doh!  Just realised I've implemented v1, but need v2 for power support.. :anguished:

[2015-01-09 22:07] pcolby commented on #31
Okay, it did implement v2... I was just confusing with the LX and TPX elements in my head.  All good now (must have been a *long* day yesterday).

[2015-01-10 01:26] pcolby commented on #47
Included in [Bipolar 0.4.0](https://github.com/pcolby/bipolar/releases/tag/v0.4.0).

[2015-01-10 01:26] #47 closed

[2015-01-10 01:26] pcolby commented on #43
Included in [Bipolar 0.4.0](https://github.com/pcolby/bipolar/releases/tag/v0.4.0).

[2015-01-10 01:26] #43 closed

[2015-01-10 01:26] pcolby commented on #32
Included in [Bipolar 0.4.0](https://github.com/pcolby/bipolar/releases/tag/v0.4.0).

[2015-01-10 01:26] #32 closed

[2015-01-10 01:26] pcolby commented on #31
Included in [Bipolar 0.4.0](https://github.com/pcolby/bipolar/releases/tag/v0.4.0).

[2015-01-10 01:26] #31 closed

[2015-01-10 01:27] pcolby commented on #30
Included in [Bipolar 0.4.0](https://github.com/pcolby/bipolar/releases/tag/v0.4.0).

[2015-01-10 01:27] #30 closed

[2015-01-10 01:27] pcolby commented on #29
Included in [Bipolar 0.4.0](https://github.com/pcolby/bipolar/releases/tag/v0.4.0).

[2015-01-10 01:27] #29 closed

[2015-01-10 12:33] davidonribble commented on #43
Hi Paul. Okay brilliant now able to export power data to Golden Cheetah. wished I had your knowledge programming. Don't understand just why I can do this via Bipolar and not directly using the Flowsync export, may be when GC 3.11 is released this might be possible. however well done. Many Thanks

[2015-01-10 13:42] trimathias commented on #43
Great job Paul 👍

[2015-01-12 20:42] pcolby opened #48 "Flexible & Interoperable Data Transfer (FIT) output"

[2015-01-12 20:43] pcolby commented on #48
SDK / documentation: http://www.thisisant.com/resources/fit

[2015-01-28 06:41] mascott060506 opened #49 "Assistance with Set-Up"
Hi - I have just installed Bipolar as I have recently purchased a Polar V800 and have set-up my Flow Sync Account.  I was previously using a Garmin product and have all my previous data on Garmin Connect.  I would like to be able to upload by v800 sessions and data to my garmin connect and strava accounts.

I use a Mac so downloaded Bipolar for OS X and have also run the hook command.  I am now st

[2015-01-28 09:06] pcolby commented on #49
Hi @mascott060506 :smile:

Just to clarify, are you saying that you downloaded the TCX file from the flow.polar.com website?  If so, then Bipolar can do nothing with that TCX file - indeed, Bipolar converts *to* TCX, not *from* TCX.

The idea, with Bipolar, is for you to sync your training sessions using the Polar FlowSync application (on Mac or Windows), then Bipolar will generate HRM, GPX, and/o

[2015-01-28 13:11] ProfAquino commented on #49
Hi, I'm having the same problem of Michelle. You could need as much help me set everything as quickly as possible is that I will start my collection of data to the master? I efetuei download the Bipolar 0.4.0 but can not find the files of tests and training sessions on my PC. The Polar FlowSync is a web service, it keeps some training file on my PC? Using the service to export the Flow it saves th

[2015-01-28 13:18] mascott060506 commented on #49
Thanks for your response.  I am obviously doing this wrong.  In the flow sync site it gives you the option  for exporting the gpx file or training data in tcx format.  I did the latter and thought the bipolar system would just convert the tcx to a more simple version which could be used on garmin connect.  Garmin connect does not register the tcx file from polar.  So as I have this wrong.  Please

[2015-01-28 20:28] pcolby commented on #49
@mascott060506,

I see.  Yeah, that's not something Bipolar can help with (indeed, Bipolar was exporting to TCX long before the Flow website provided that export option).

You should raise that as an issue on Polar and/or Garmin's support forums.  Though its probably already a known issue (Polar seems to be very slow at fixing things like that at the moment).

The first thing to understand, is tha

[2015-01-28 20:34] pcolby commented on #49
@ProfAquino,

Polar FlowSync is a desktop application (not a web service), provided by Polar, that syncs training data from Polar devices via USB, to the Polar Flow website.

The Bipolar Hook hooks into the Polar FlowSync desktop application to capture the data as its going from Polar FlowSync to the Polar Flow website.

Nope.  These are not the files Bipolar uses.  Bipolar uses special raw exerci

[2015-01-29 12:19] ProfAquino commented on #49
Thanks again but I could not success yet in file transfer for Bipolar, I'm redoing all the ways to determine where my mistake happens in the software installation:

1° Installing the Polar Flow Sync (in the directory: C: \ Program Files (x86) \ Polar \ PolarFlowSync);

2° Installation of Bipolar (in the directory: C: \ Program Files (x86) \ Bipolar);

3° Rename the Qt5Network.dll file (in the dire

[2015-01-29 20:26] pcolby commented on #49
@ProfAquino,

Steps 1 and 2 are good.

Steps 3 and 4 are unnecessary in that the Bipolar installer does that for you, but it won't hurt for you to have done it.

Step 5 is also unnecessary, and in fact the wrong directory.  The `export` folder will be automatically created under the Window's `%APPDATA%` directory - typically `C:\Users\<your login>\AppData\Local\Polar\PolarFlowSync\export`.  Note t

[2015-01-31 17:35] ProfAquino commented on #49
Thank you for your help because I could finally realize the conversion of files using the Bipolar.

Only one problem yet, I made a recording of the heart rate to use the Bipolar (Bipolar generated 4 new files (tcx, gpx, hrm and rr.hrm)). But the rr.hrm file is empty and it is precisely this file I need for my master's research on RR interval.

Then I made another recording in Polar V800 using the

[2015-01-31 21:24] pcolby commented on #49
Unfortunately, Polar broke the R-R recording around firmware v1.2 - see issue #42.

[2015-02-01 00:53] ProfAquino commented on #49
Hi pcolby, thank you for the help, I was waiting for the Polar answer my questions would be so far. I am very angry because overpaid in Polar V800 with the promise of measures of RR intervals but this is not what they are offering.

If you can help me a little longer I would be extremely grateful for the contribution.

1 Is there any way to downgrade the Polar V800? It would be too risky?

2 ° Wit

[2015-02-01 08:59] pcolby commented on #49
Not that I'm aware of.

It would be possible to generate *averaged out* R-R data by dividing 60,000ms into evenly spaced intervals of matching the BPM heart rate, but of course, that would be completely pointless, as the [value of R-R data is the variability](http://en.wikipedia.org/wiki/Heart_rate_variability), and by definition, this averaged-out data would have zero variability... at least betw

[2015-02-01 10:49] wittet opened #50 "Warning "Unknown polar sport value 103""
Hi Paul,

I've been using bipolar to get HRM files of my trainings for PPT5.
While processing the sessions bipolar throws a warning "Unknown polar sport value 103".
Seems Polar has extended their Sports list: sports[103] = "Pool swimming";

The resulting HRM file lacks the pace data. I'm not sure if the unkown sport is the reason for that!?
I wonder if you could update the known sports in bipolar,

[2015-02-01 20:15] pcolby commented on #50
Thanks Thorsten.  I've added 103, so it will be in the next release.  I did a quick check of https://flow.polar.com/settings/profile and 103 (Pool swimming) appears to be the only new one.

Shouldn't be related.  Bipolar currently only uses the "Polar sport type" to determine which "TCX sport" to use.  As TCX only supports "running", "biking" and "other", Bipolar will use "other" for "Pool swimmin

[2015-02-02 21:26] wittet commented on #50
You're absolutely right. I mean speed, was misleaded by the session view in flow:(
As you see in
![swim session](https://cloud.githubusercontent.com/assets/10795696/6008834/de2092fe-ab24-11e4-8aca-74d2e2b3df8d.png) the session should have heart rate as well as speed data.
The HRM file from bipolar has only heart rate.

[2015-03-18 22:30] tmiland commented on #24
Any update on if/when this will be implemented? :)

[2015-04-08 17:59] pbek commented on #44
The links seems broken (now), this could be the new one: https://launchpad.net/~beineri/+archive/ubuntu/opt-qt541

But I haven't made it work with Travis yet...

[2015-04-08 20:58] pcolby commented on #44
Thanks @pbek :smile:

[2015-05-16 22:21] steffenr opened #51 "No longer working with latest FlowSync"
I just wanted to try bipolar - but i cannot find the location where the export files are stored. Looks like polar flowsync changed some settings and no longer allows to access the exported data.

Anyone else with the same problems?

[2015-05-17 00:40] pcolby commented on #51
They've never "allowed" access to the exported data... we just captures it anyway :wink:

What version of FlowSync are you using?  What does Bipolar say when you run it? (it does a hook check on startup).  Which OS are you using?

[2015-05-19 20:12] steffenr commented on #51
OS: MacOS 10.10.3 (14D136)
Polar FlowSync 2.3.8

I installed the hook - while starting bipolar i have to choose the folder for trainings sessions to process - but could not find the folder flowsync uses. Am i missing something here?

[2015-05-19 21:39] pcolby commented on #51
Great!  Glad you got it working! :smile:

[2015-05-19 21:39] #51 closed

[2015-06-15 12:48] nikolay12 opened #52 "Failed to resolve SDK path for 'macosx10.8'"
I am on Yosemite. I could not use the dmg as I got

[code]

I normally can install stuff and have sudo privileges - this is the first time I could not do it. Maybe self-signing the dmg can sort this out?

I tried then installing from source code and ran ~/Downloads/bipolar-0.4.0/hook/qt/build.sh. I got

[code]

I tried then the solution proposed [here](http://stackoverflow.com/questions/26320677/e

[2015-06-15 12:52] jgrandscrutton commented on #52
Did you double-click the app to open it? If so, try right-click > Open.

From: nikolay12
Reply-To: pcolby/bipolar
Date: Monday, 15 June 2015 13:48
To: pcolby/bipolar
Subject: [bipolar] Failed to resolve SDK path for 'macosx10.8' (#52)

I am on Yosemite. I could not use the dmg as I got

“Bipolar.app” can’t be opened because it is from an unidentified developer.
Your security preferences allow inst

[2015-06-15 14:27] nikolay12 commented on #52
@jgrandscrutton Thanks for your quick response Jeremy - I was able to open up the dmg. Now I don't know how to proceed. I installed the hooks by running the install command as described in the readme and then I opened the dmg. I am asked to add a directory:

![Screenshot of Bipolar](http://i.imgur.com/h5I5YKl.png)

Isn't this supposed to be done by the install hooks? I don't mind doing it myself b

[2015-06-15 15:11] jgrandscrutton commented on #52
Did you sync activities, or just sync the device? I’m not certain, but I seem to recall that the folder was only present having synced activities. Can you browse to /Users/nnikolo/Library/Application Support/Polar/PolarFlowSync/export in Finder?

[2015-06-15 15:52] nikolay12 commented on #52
@jgrandscrutton I checked that directory but it doesn't exist. I don't think I have ever been offered a chance to choose what to sync - FlowSync does everything and than automatically opens the Polar Flow Website. So I see all the trainings on the website. I've never seen them as local files. I went to the FlowSync menu but I still don't see any preferences that specify local storage. How do you s

[2015-06-15 17:09] jgrandscrutton commented on #52
First time I used bipolar I hadn't tracked any activities - I'd synced the device, but not any activities so there was no local folder. Once I'd tracked an activity and synced it the folder was created. I didn't do anything else for that to happen. How recently did you download the FlowSync app? Maybe there have been changes in the way it works since I downloaded it (February)?

Sent using OWA for

[2015-06-15 17:50] nikolay12 commented on #52
@jgrandscrutton I think I use the latest version of Polar FlowSync. Here is a screenshot of the settings:

![Screenshot of FlowSync's settings](http://i.imgur.com/Czzglk1.png).

And here is a screenshot of the version ID (It's "2.3.8" but, confusingly, "1.2.1" is also shown in the upper right corner):

![Screenshot of FlowSync's "About" section](http://i.imgur.com/nDhwGDY.png)

[2015-06-16 06:43] pcolby commented on #52
Hi @nikolay12, sorry to hear you're having trouble getting Bipolar to work.

Since you've already got Bipolar installed, let's just check that the hook did install correctly, by running the following commands:

[code]

(If you installed FlowSync somewhere else, then adjust the paths accordingly).

Assuming the hook is installed (paste the output of the commands above and we can verify that), then

[2015-06-16 06:45] pcolby commented on #52
PPS I'm guessing the "1.2.1" is referring the loop's firmware version, which seems right given that 1.2.1 is currently the [latest version available](http://www.polar.com/au-en/support/polar_loop_release_notes).

[2015-06-16 07:53] jgrandscrutton commented on #52
I have version 2.3.8 of FlowSync too, and I was also starting to wonder whether you used FlowSync to sync your activities, or just did it with your phone? After completing an activity, when syncing through FlowSync, does it state "syncing activities"?

[2015-06-17 09:29] nikolay12 commented on #52
Thanks @pcolby and @jgrandscrutton for your kind assistance and for working on Bipolar. Here is the output of the directory listing that Paul asked about:

[code]
Jeremy - I have never used Polar Loop with a phone. I've always synced through my mac. FlowSync always works automatically - I haven't entered any preferences. It says "syncing activities", "syncing trainings", "syncing settings", etc. a

[2015-06-17 10:16] pcolby commented on #52
That looks right.  Now try:

[code]

And let us know how what that does.

Also, if you run Bipolar now, what does it show?  Can you include a screenshot of Bipolar now that we know the hook is installed correctly?

Thanks.

[2015-06-18 12:06] nikolay12 commented on #52
Paul - it works! It seems I haven't properly escaped the space in the path to the export directory - this is why I could not find it. Thanks a lot to you and Jeremy for your kind and quick help!

[2015-06-18 16:11] pcolby commented on #52
@nikolay12, so glad you got it working! :smile:

Cheers.

[2015-06-18 16:11] #52 closed

[2015-07-31 02:52] pcolby opened #53 "Migrate from Travis CI's legacy to container-based infrastructure"
http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice

[2015-07-31 02:53] pcolby commented on #53
Currently blocked by, at least:
* https://github.com/travis-ci/apt-package-whitelist/issues/365; and
* https://github.com/travis-ci/apt-package-whitelist/issues/442

[2015-08-06 00:12] pashky opened #55 ".proto files?"
Hi Paul,

First of all I'd like to say thanks for all your work here. It's amazing and bipolar sources was of a great help to me.

Yet I was wondering if you have actually created .proto files for all your reverse engineering works? I know, you don't use google's parser in bipolar, but given you definitely use protoc to debug it, I suspect you might have done it. If so, would you mind sharing them

[2015-08-06 01:40] pcolby commented on #55
Hi @pashky,

Your welcome.  I'm glad to hear its helped you :smile:

No, I didn't create any .proto files during the development of Bipolar.  However, another user (@dfeist) did manage to extract some .proto files from one of the FlowSync apps - see issue #3.

**Disclaimer: The .proto files from issue #3 are not open source (as far as I know).  I am not a lawyer.  Use at you're own risk.**

Bipola

[2015-08-06 06:31] #49 closed

[2015-08-06 06:33] pcolby commented on #40
No input in 8 months... closing for now.

[2015-08-06 06:33] #40 closed

[2015-08-06 10:45] pashky commented on #55
Wow, I didn't know it was that easy and sources were kindly supplied by manufacturer! So now you aren't _that_ much of a hero as I thought before... Just kidding, sorry :)

Anyways, thanks again! I guess I could manage extracting them myself from dll. Or, really, I should just keep it simple and delegate actual file conversion to bipolar and leave only code that extract polar binary data from sqli

[2015-08-06 10:45] #55 closed

[2015-08-16 10:37] pcolby opened #56 "Tests failing under Qt 5.5"
Not sure why yet.  See, for example, https://ci.appveyor.com/project/pcolby/bipolar/build/restructure-26/job/spkm1e7yi2k3dn9r

[2015-08-18 21:59] pcolby commented on #44
Done.
* https://travis-ci.org/pcolby/bipolar/builds/76092023
* https://ci.appveyor.com/project/pcolby/bipolar/build/travis-qt-98

[2015-08-18 21:59] #44 closed

[2015-08-19 23:25] pcolby commented on #56
See also https://forum.qt.io/topic/57883/qcompare-failing-for-doubles-on-qt-5-5-only

[2015-08-20 11:10] pcolby commented on #56
So I've found the cause... in short, Qt 5.5 converts float/double `QVariant` objects to strings more accurately now - https://github.com/qtproject/qtbase/commit/8153386397087ce4f5c8997992edf5c1fd38b8db

See https://forum.qt.io/topic/57883/solved-qcompare-failing-for-doubles-on-qt-5-5-only/4 for brief description.

Now how to fix it...

[2015-08-21 06:16] pcolby commented on #56
Fixed in commit 70822af ([Travis CI](https://travis-ci.org/pcolby/bipolar/builds/76576652), [AppVayor](https://ci.appveyor.com/project/pcolby/bipolar/build/issue-56-114)).

[2015-08-21 06:16] #56 closed

[2015-09-14 05:12] ethansg commented on #40
@pcolby i just tried this with Polar M400; works like a charm.

[2015-09-14 05:38] pcolby commented on #40
That's great @ethansg!  Thanks for letting us know :smile:

[2015-09-14 18:19] ethansg commented on #40
You bet @pcolby!!

[2015-11-16 22:23] pueroman opened #57 "Support of Stages Powermeter"
When using Stages power meter instead polar or srm only one side of power (left power) is distributed.
Two problems when exporting to hrm-file:
1. PPT 5 only reading correct power data when SMode contains:
d) Power = 1
e) Power Left Right Balance = 1
f) Power Pedalling Index = 1
(don't know why, but tested it with different files)
2. Download-file of V800 does only contain power of one crankarm (l

[2015-11-17 04:49] pcolby commented on #57
Hi @pueroman,

If you could provide a couple of data files with Stages power meter data included, that would make development / testing much easier for me (otherwise we'll just have to do the "try this" ... "didn't quite work" ... "try this one instead" cycle, which can be quite a bit slower).

Ideally, you would provide data files that you don't mind making public (eg not a ride to/from your hous

[2015-11-17 07:27] hanakysela commented on #45
Hi, I would also appreciate if it was possible to get the activity data out of Flow-in my case just to play with it. It is now possible to download a .tcx, csv and gpx from workout right from Flow, though activities stay trapped there. As well as any reasonable data from swimming (stroke style, stroke cadence).

[2015-11-19 21:29] pcolby commented on #57
Hi @pueroman, I got your test data via email. Thanks :smile:

At a glance it looks good (ie it is valid Protocol Buffers data).

Hopefully I'll get a chance to play with it this weekend :smile:

Are you happy for me to include the test data in the Bipolar project's test data suite? (https://github.com/pcolby/bipolar/tree/master/test/polar/v2/testdata)  That way it would be included in automated te

[2015-11-19 21:41] pcolby commented on #45
If you like, I should be able to create a version of the FlowSync [Hook](https://github.com/pcolby/bipolar/wiki/Hooks) that saves the raw activity data to disk pretty easily.  Then you should be able to use Google's `protoc` command to view the numbers... I wouldn't know what to do with them, but if it lets you play, then that's a good thing :smile:  Especially if it means you do some up with some

[2015-11-19 21:44] pueroman commented on #57
Hi,
you can use the data for the tests. If possible cut off the gps data, if not it's also o.k.

[2015-11-19 21:50] pcolby commented on #57
Ok great.  I'll leave out the `*-route` data, since that's the one that includes the GPS samples, and isn't affected by the power code tweaks I'll be making.

[2015-11-21 18:53] hanakysela commented on #45
Hi, it's windows, I hope I will not be the only one interested in the activity data though. Lets see how the
 `protoc` works for me - that will be something new.
On the other hand, the activity data find their way to Google Fit from the Flow so this may be another possibility to get it for later offline use. But that wouldn't have anything to do with the Bipolar project.

[2015-11-23 00:00] pcolby opened #58 "Missing unit test output files during out-of-source builds"

[2015-11-24 21:04] matheuseduardo opened #59 "[sugestion] gps data in flow polar "webservice""
As you said that doesn't have position data (https://github.com/pcolby/bipolar/wiki/Getting-the-Data-from-the-Flow-Web-Service), if you only change "range" for "map" in URL you got, you can access GPS information.

Look, change this:
https://flow.polar.com/training/analysis/16240876/range/data

by this:
https://flow.polar.com/training/analysis/16240876/map/data

(sorry for my bad english)

and goo

[2015-11-24 23:38] pcolby commented on #57
@pueroman, this is _probably_ fixed now... the TCX output seems right (as loaded into Strava), but I don't have access to PPT right now (not near my Windows machine) to test the HRM ouput.

I haven't yet set the HRM pedalling index, since that goes against the HRM spec.  But it wouldn't be the first time PPT 5 needed something against the spec, so I'll enable that if testing shows its still needed

[2015-11-25 05:00] #58 closed

[2015-11-25 20:54] pueroman commented on #57
Did a quick test with PPT 5 (release 5.41.002).
Used file .../testdata/training-sessions-267510822.hrm
Data not readable when importing it. Changed pedalling index to 1. Imported again. Everything fine then. Power data correct now.
Seems like PPT has another bug.
Cheers

[2015-11-26 00:39] pcolby commented on #57
Righto.  I'll enable the Power Pedalling Index `SMode` flag (`f`) whenever the "Power Balance and Pedalling Index" field is present (ie whenever power data is present).  Though of course the pedalling index value itself will always be 0 for now (since the V800 doesn't appear to support that data).

[2015-11-26 02:45] pcolby commented on #57
Done.  You should be able to test latest file(s) from the same URL(s).  Otherwise I'll take a look on the weekend.

Cheers.

[2015-11-26 14:03] roesassi opened #60 "Flowsync 2.6.2 comes with new QT library. The hook doesn't seem to be compatible anymore."
The new Flowsync update installed a new QT5 library and it does not seem (at least on my PC) to be compatible with the hook (when FS starts, some other parts of the QT library do not find an entry point in the DLL replaced by Bipolar).

[2015-11-26 20:47] pcolby commented on #60
Interesting!  I don't have my Windows or OSX machines handy to test right now (will have tomorrow).

Can you see what version of Qt the new FlowSync is using? (should be able to tell from the DLL properties).

It's probably just going to be a matter of re-applying the hook patch to the new Qt version.

[2015-11-26 21:51] roesassi commented on #60
Absolutely. The new QT5Network.dll claims to be version 5.5.1.0.

[2015-11-26 22:10] pcolby commented on #60
Thanks!  Interestingly, FlowSync 2.6.2 **for OSX** is still using Qt 5.1.x.  So the Qt update appears to be Windows-only for now.

[2015-12-02 22:50] pueroman commented on #57
Been able to do the tests today. Everything seems to be fine now. Also compared data with tcx file in golden cheetah. No errors found.

[2015-12-02 23:11] pcolby commented on #57
That's great news! :smile:

I'm going to update the Flow Sync hook for issue #60 and then do a release.

[2015-12-07 16:00] Squirell1 commented on #60
Will the change be a bigger one? It is "in work"! for several days.
Do you think it will work? Isn't it better, if possible, to have a different method without the hook to be prepared for next QT change?

[2015-12-07 21:15] pcolby commented on #60
Hi @Squirell1,

Not really.  Its _probably_  quite a small change, and in fact _probably_ already done.  I'm just having trouble finding time to test it out on a Windows machine in between a very busy full-time job and family.

If you're willing to help test, the probably-working Hook is already available from the AppVeyor continuous integration service Bipolar uses for Windows builds:

* https://

[2015-12-07 21:28] pcolby opened #61 "Qt 5.3 msvc2013 opengl release buid failures on AppVeyor"
This is presumed to be a bug specific to that (unsupported) environment, so allowed to fail for now.  Just creating an issue to allow it to be tracked by anyone that might be interested (which I don't expect will be anyone).

[2015-12-07 22:10] #61 closed

[2015-12-08 05:33] Squirell1 commented on #61
Hi Paul,
thank you for the explanation on githib.
I'll test the hook latest by tomorrow because it's my wifes birthday today.
I'll give you feedback after the test.
(We are around 12 hours behind )
Cheers Thomas

Am 7. Dezember 2015 23:10:14 MEZ, schrieb Paul Colby <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2015-12-08 11:31] roesassi commented on #60
Dear @pcolby
I tested the new <code>Qt5Network.dll</code> file and it worked fine for me (Windows 7 64 bit).
Thanks

[2015-12-08 18:10] Squirell1 commented on #60
Hi Paul,
thank you for the new hook dll  - it's fine for win8 64bit.
Cheers Thomas

[2015-12-08 20:19] pcolby commented on #61
Thanks @Squirell1 :smile:  (For anyone following along, @Squirell1's response was to issue #60).

[2015-12-08 20:22] pcolby commented on #60
Thanks @roesassi and @Squirell1! :smile:

I'll release the new hook, and update the master branch to include it in the next Bipolar release, which should be available from AppVeyor later today, and Github Releases later this week.

Cheers.

[2015-12-09 01:41] pcolby commented on #60
https://github.com/pcolby/bipolar/releases/tag/hook-2-qt551

[2015-12-09 07:41] pcolby commented on #60
The updated Windows installer with the new hook is now available from CI - https://ci.appveyor.com/project/pcolby/bipolar/build/master-192

Official release will come soon... need to sort out OS X build first.

[2015-12-09 09:19] roesassi commented on #60
Just out of curiosity, given what you understood of the communication between Flow and a Polar V800, would it be possible to use the hook to save also the <b>Training targets</b> while they are uploaded from Flow to the device? Would it be difficult or it is at reach with a bit of work (which I might try to do, in case)?
Thanks again.

[2015-12-09 21:26] pcolby commented on #60
Probably. In principal, the same hook could capture data in the opposite direction, and as long as its in a format we can parse, it should be possible to use it.  Just curious... why would you want that data?

I would think capturing the raw data would be pretty easy.  Parsing it is likely to be only moderately difficult, but very time consuming, with a lot of slow change-sync-check cycles.

Can y

[2015-12-09 22:28] roesassi commented on #60
Thanks for the answer.

I am a long time user of Polar devices (as many other people using **bipolar** I think) and in the last several years I used to program my running training targets with phased exercises in a RS800, first, and a RS800CX next.

After baying the V800 a couple of months ago, while happy about the device itself, I realized that I have three major problems with it:
<ul>
<li>Polar

[2015-12-16 21:45] pcolby commented on #60
Released - https://github.com/pcolby/bipolar/releases/tag/v0.5.0

[2015-12-16 21:45] #60 closed

[2015-12-16 21:45] pcolby commented on #57
Released - https://github.com/pcolby/bipolar/releases/tag/v0.5.0

[2015-12-16 21:45] #57 closed

[2015-12-16 21:47] pcolby commented on #50
Released - https://github.com/pcolby/bipolar/releases/tag/v0.5.0

If there's still an issue with PPT5, please open a new issue for that.

Thanks.

[2015-12-16 21:47] #50 closed

[2015-12-17 07:10] roesassi commented on #26
Dear @pcolby
given this issue, is it better to upload to Strava the GPX files, instead of TCX? Or is the information contained exactly the same in both GPX and TCX files?
Thanks for the clarification!
Best

[2015-12-17 21:01] pcolby commented on #26
@roesassi the bulk of the info is exactly the same - the same GPS points, heart rate, etc, but:
* TCX is the only format that can be used for indoor type activities (ie spinning, gym, etc) - GPX is not even an option if there's no GPS data (having said that, my V800 actually records GPS data even when told not to, so this might not be an issue); and
* Strava does not support temperature data in TC

[2015-12-17 21:40] roesassi commented on #26
Dear @pcolby
thanks for the information and the link
Best

[2015-12-17 22:23] pcolby commented on #26
As far as Strava goes, the better option might be FIT? #48

I haven't really looked at FIT before (don't have any Garmin / ANT+ products), but might have a closer look now :)

[2015-12-22 15:52] roesassi commented on #26
Even better! Thanks for pointing it out. It would be great if future releases of BiPolar produced FIT file too.

[2016-01-05 20:49] wittet commented on #50
Hi Paul,
Happy new Year!

Thanks for the update.
I've been using your latest Qt5Network since you'd released it:)

Finally I had some time to try the biploar pre-release. When trying to install it (even as administrator) it failed:

![bipolar-setup error](https://cloud.githubusercontent.com/assets/10795696/12127187/1623637c-b3f6-11e5-83cd-0a5b72a3dc64.png)

The application cannot be started:
![bip

[2016-01-18 09:57] alessandrofacchini opened #62 "Hook 2 for Qt 5.5.1 issue"
Hello
i've a polar loop device; i tried to replace the Qt5Network.dll (https://github.com/pcolby/bipolar/releases/download/hook-2-qt551/Qt5Network.dll)
in the polar folder (my pc runs Windows 8), that is: C:\Program Files (x86)\Polar\Polar FlowSync.

When i plug the device the flowsync starts the synchronization process, but it seems it doesn't write any file under   %LOCALAPPDATA%\Polar\PolarFlow

[2016-01-19 08:44] pcolby commented on #62
Hi @alessandrofacchini, sorry to hear its not working for you. Let's go through a few diagnostic step to see if we can figure out why:

1. Please tell me the size (in bytes) of the `C:\Program Files (x86)\Polar\Polar FlowSync\Qt5Network.dll` file.
2. Does the `%LOCALAPPDATA%\Polar\PolarFlowSync\export` directory exist (I know you said its has no data, but just wanting to confirm if the directory i

[2016-01-19 08:47] pcolby commented on #50
@wittet, is this till happening?  If so, I'll move it to a new issue so it doesn't get lost. Thanks.

[2016-01-19 13:59] alessandrofacchini commented on #62
Hi Paul

Thanks for your interest

1)      The dll size is 864.768

2)      It didn’t exist at the time I did the tests; but i’ve just created it and have repeated the tests again without success

3)      Yes according with flowsysnc I should have some data

4)      No, bipolar doesn’t mention anything

5)      Here is the text I can see when I click detail
“

14:57:53 "Bipolar" "0.5.0.219" "Inter

[2016-01-19 20:54] pcolby commented on #62
Thanks @alessandrofacchini, that all looks correct except one part I'd like to clarify:

What did you mean by that? specifically, how is FlowSync indicating that you "should have some data".  That appears to be the step that's going awry, so worth digging into.

Thanks again.

[2016-01-21 05:59] alessandrofacchini commented on #62
HI Paul, thanks again in advance

I walked a bit to be sure and I synchronized; the when it opens the website I took this screenshot from which you can see it uploaded data related to 180 steps; unfortunately the  folder (second screenshot) it’s still empty.

Do you have any other suggestions?

The device I have I a Polar loop, not polar loop 2.

Many thanks, let me know

Regards

Alessandro facch

[2016-01-21 10:51] pcolby commented on #62
It needs to be an exercise activity, not just daily activity - I think the Polar Loop manual refers to this as "Starting the Training" (the V800 is a bit different).  Of course, that might be what you're doing already - I'm just verifying.

Then, it needs to be synced via Polar's FlowSync desktop application (Windows in this case).  That is, when you get to the end of the FlowSync process, there's

[2016-01-21 21:12] alessandrofacchini commented on #62
Hi Paul

Yes after the sync (via Polar's FlowSync desktop application ) i get the message you are talking about (1 of 1 activities synced)

Regarding phone app…no I havent’ installed it yet ..it would be next step

Do you have other suggestions?

Regards

Alessandro Facchini

From: Paul Colby [mailto:notifications@github.com]
Sent: giovedì 21 gennaio 2016 11:51
To: pcolby/bipolar
Cc: alessandrofac

[2016-01-21 23:54] pcolby commented on #62
Hi @alessandrofacchini, that's should all work then.  Interesting.

The other thing to check (I should have mentioned this one sooner, but I forgot about it), the hook also produces a debug log file called `%TEMP%/Bipolar-hook-debug.txt`.  On Windows, that would something like `C:\Users\<user>\AppData\Local\Temp\Bipolar-hook-debug.txt`.

Does that file exist?  And if so, what does it contain?

Tha

[2016-01-22 04:41] alessandrofacchini commented on #62
Hi Paul

Here is the file

Let me know...

Thanks very much for your interest and help

Regards

Alessandro Facchini

From: Paul Colby [mailto:notifications@github.com]
Sent: venerdì 22 gennaio 2016 00:54
To: pcolby/bipolar
Cc: alessandrofacchini
Subject: Re: [bipolar] Hook 2 for Qt 5.5.1 issue (#62)

Hi @alessandrofacchini <https://github.com/alessandrofacchini> , that's should all work then. Int

[2016-01-22 05:03] pcolby commented on #62
Interesting.  The log shows a few FlowSync sync operations, but none of them attempted to sync any activities.  Can you attach a screenshot of FlowSync actually stating that its synced one or more sessions?  Similar to this:

![looop21b](https://cloud.githubusercontent.com/assets/5195222/12502827/8c603f3c-c121-11e5-87a7-6418f75c393a.png)

Then re-attach the updated `Bipolar-hook-debug.txt` file?

[2016-01-22 06:21] alessandrofacchini commented on #62
Hi Paul

Should i do something in particular to set up the device or is it enought that i walk for 2-3 minutes at the office and after that i will perform a synchronization?

Regards

Alessandro Facchini

From: Paul Colby [mailto:notifications@github.com]
Sent: venerdì 22 gennaio 2016 06:04
To: pcolby/bipolar
Cc: alessandrofacchini
Subject: Re: [bipolar] Hook 2 for Qt 5.5.1 issue (#62)

Interestin

[2016-01-22 08:44] pcolby commented on #62
You need to record an actual workout session. Its been a while since I've had access to a Polar Loop, but if you have a look at the [Polar Loop user manual](http://www.polar.com/e_manuals/Loop/Polar_Loop_user_manual_English/manual.pdf), see "Start the Training" under section 6, on page 17.

Just out of curiosity, what sort of data were you hoping to get out of Bipolar?  Currently it only exports t

[2016-01-22 11:56] alessandrofacchini commented on #62
Hi Paul....

Actually i didn’t check a lot about the different kind of tasks (training session vs activity tracking data) so it’s likely that I was doing the second one in my tests.

I will check better the 2 different options and for sure I’ll create  a training session and let you know if I’ll find the data in that folder

Thanks

Alessandro facchini

From: Paul Colby [mailto:notifications@githu

[2016-01-22 20:00] LillyLP opened #63 "Failed to Install Bipolar Hook"
Hello, I have installed Biploar, but when I run it I get the error message 'The Bipolar hook does not appear to beinstalled.  Would you like to install it now'

On pressing Yes, I get a 'Failed to install.....' message

I have manually renamed the old Qt5Network.dll file  and repaced it with the one in Bipolar directory but get the same response when I run Bipolar again. .

If I cancel the failed

[2016-01-23 00:59] pcolby commented on #63
Hi @LillyLP,

First up, well done on providing lots of good info already :smile: Hopefully we can get to the bottom of this one pretty quickly.

Now, the log output itself, is very odd!  Specifically, the line:

`19:24:18 "E:\Program Files (x86)\Polar\Bipolar" hook version -1`

Here, it should be more like:

`19:24:18 "E:\Program Files (x86)\Polar\Polar FlowSync" hook version ...`

That is, the co

[2016-01-23 06:28] pcolby commented on #63
Ah, I see.  So when `QDir FlowSyncHook::flowSyncDir()` fails (as indicated by the `19:24:18 failed to locate flowsync`) line, the function returns `QDir();`, which rather than being a NULL or invalid directory, actually returns the program's current working directory.

So, there's two issues here...

1. the `QDir FlowSyncHook::flowSyncDir()` function is not returning a value that indicates that th

[2016-01-23 06:31] pcolby commented on #63
BTW, if you're in a hurry, you can install the hook manually (happy to walk you through it).  Bipolar will still nag you until we fix the detection issue, but at least the export would still work.  Let me know if you want to go that route for now. In the meantime, I'll prepare a small set of questions re your FlowSync installation.

[2016-01-23 06:37] pcolby commented on #63
Ok, so can you please cut-and-paste the output of the following commands:

1. `echo %ProgramFiles%`
2. `echo %ProgramFiles(x86)%`
3. `echo %ProgramW6432%`

Also, what path is Polar FlowSync installed in?

Thanks.

PS  If you've installed FlowSync somewhere weird (and hey, why not? It's your right to install it wherever you want to), then I might add some logic to check for the FlowSync installer's

[2016-01-23 08:06] LillyLP commented on #63
Will come back on questions, but yes to unusual location as  installed on E drive as C was getting full so MDIR new folder on E for additional programmes.

 Louis
Sent from my BlackBerry® wireless device

-----Original Message-----
From: Paul Colby <notifications@github.com>
Date: Fri, 22 Jan 2016 22:37:30
To: pcolby/bipolar<bipolar@noreply.github.com>
Reply-To: pcolby/bipolar
	<reply@reply.github

[2016-01-23 09:53] alessandrofacchini commented on #62
Hi Paul at the end i realized we  are at the moment interested in activity data only….i saw the #45 thread and your availability to make a specific hook to export activity data….are you still available to do that….?

Let me know

Thanks

Alessandro Facchini

From: Paul Colby [mailto:notifications@github.com]
Sent: venerdì 22 gennaio 2016 09:44
To: pcolby/bipolar
Cc: alessandrofacchini
Subject: Re:

[2016-01-24 06:20] pcolby commented on #62
Ok, so it appears that there's no issue with the current hook, in that is works as intended.

I'll add the activities support to a separate branch (in fact I just did), but will continue that work / discussion under issue #45.

Cheers.

[2016-01-24 06:20] #62 closed

[2016-01-24 06:22] pcolby commented on #45
I've just (theoretically) added support for recording activities data to the hook under a separate (hook-activities) branch.  Builds to come soon (hopefully via CI servers, but might need some massaging).

Will update once the CI servers have had a go (which will take a while, since I'm on free open-source plans for Travis CI and AppVeyor).

Note, the data is raw... IIRC, its plain 8-bit protofuf

[2016-01-27 05:28] pcolby commented on #59
Thanks @matheuseduardo, you are indeed correct.  I have a Bash script that pulls all GPX, TCX and CSV files from flow.polar.com by scraping the site.  However, I this sort of approach is brittle, to say the least (easily broken by Polar), and I dare say likely to face some opposition from Polar if it was to be used often by many people... not sure where to go with that currently.

[2016-01-27 11:02] pcolby commented on #63
So I've (theoretically) corrected both of the issues identified above.  However, I don't have access to a valid Windows test machine currently, so an unable to test right now.  Once the builds have completed in AppVeyor (https://ci.appveyor.com/project/pcolby/bipolar/build/master-245) feel free to download and test for yourself :smile:

Note, AppVeyor appears to be broken (on their end) currently.

[2016-01-27 20:29] pcolby commented on #63
[done](http://help.appveyor.com/discussions/problems/3995-builds-are-queued#comment_39024951).

[2016-01-28 03:48] pcolby commented on #45
Just FYI, the Windows version of updated hook is now available at https://ci.appveyor.com/project/pcolby/bipolar/build/hook-248/artifacts

[2016-01-28 20:34] pcolby commented on #63
The builds are now available at https://ci.appveyor.com/project/pcolby/bipolar/build/master-249

You'd probably want the msvc2013 64-bit release version - https://ci.appveyor.com/project/pcolby/bipolar/build/master-249/job/3qvio32nqy4320h3/artifacts but any of them should be fine for testing.

Cheers.

[2016-01-29 14:18] LillyLP commented on #63
Thanks Paul.  I uninstalled the two programmes and reinstalled them in their default folder and Bipolar works perfectly - an excellent programme without which I faced the prospect of adding summary data to my polarprecision where I have data dating back to 2001.  In due course I shall retry reinstalling on my E drive as space on my C: (System) drive is very short.  Thanks for your trouble.  (It us

[2016-02-13 10:14] alessandrofacchini commented on #45
Hi Peter

i tested the synchronization process with the latest dll and finally we have the file under the expected folder:
C:\Users\AlessandroFacchini\AppData\Local\Polar\PolarFlowSync\export\v2-users-17848353-activities.

When i run bipolar to read the data (v. 0.5.0) it says "Found no new training sessions to process" like it was only looking for training sessions.

Do I need a bipolar updated v

[2016-02-14 03:53] pcolby commented on #45
Hi @alessandrofacchini,

Great :smile:

That's exactly right.  As I said further up:

So the current Bipolar app does not look for the exported activities data, because if it did, it still wouldn't know what to do with it.  We can't turn it into GPX / HRM / TCX files (can we?).

Feel free to play with the data files using Google's `protoc` command.  If you can figure out what the data represents,

[2016-02-28 01:00] pcolby commented on #63
Released in 0.5.1.

[2016-02-28 01:00] #63 closed

[2016-04-02 06:35] AndreasAusD opened #64 "windows Bipolar-0.5.2.297.exe fails to install / start - MSVCP140.dll missing"
Hello,

just tried to install version Bipolar-0.5.2.297.exe on Win7 64Bit, Polar Flow Sync 2.6.2

During the install provess a message appeared that the hook could not be installed.
By trying to do that step manually "bipolar.exe -install-hook" am message box stated that "MSVCP140.dll" is missing

MSVCP120.dll is present in the Bipolar path, but no MSVCP140.dll

Regards
Andreas

[2016-04-02 08:27] pcolby commented on #64
Oh... yeah, that would be because when switching to Qt 5.6 on AppVeyor, I also set AppVeyor to release the msvc2015 build, but forgot to update the NSIS install script.

Feel free to drop back to the 0.5.1 release for now (there's no functional difference).  Alternatively, if you really want the 0.5.2 version number (or Qt 5.6), the msvc2013 build should be correct.  You can get that build directl

[2016-04-02 08:33] pcolby commented on #64
Done.

[2016-04-02 10:23] AndreasAusD commented on #64
ok, going back to 0.5.1 did the trick, thank you

[2016-06-07 13:38] loisks317 opened #65 "Can't find/make the .dmg file for mac OSx?"
This may be obvious, but I can't find it in the .zip file?

[2016-06-07 13:38] loisks317 opened #66 "Where is the hook folder?"
This may be obvious, but I can't find it in the .zip file?

[2016-06-07 13:53] #66 closed

[2016-06-07 14:14] #65 closed

[2016-06-07 14:18] loisks317 opened #67 "Polar Flow Sync Application Support missing?"
Hi All,

I installed bipolar on my mac, however, I am missing where the input files should be for Bipolar (/Users/Library/Application Support/Polar/PolarFlowSync/export). Any idea what might have gone wrong during the install?

[2016-06-13 14:00] rapter21 opened #68 "Polar flow still running"
Hi,

I am trying to install but when i do i am getting the error that the polarflow is still running but i have closed and rebooted and checked all is not running.

Does anyone know if there are any services i need to close off?

Richard

[2016-06-13 22:01] pcolby commented on #68
Hi @rapter21,

Sorry to hear its not working for you.

A couple of questions:
1. What OS are you on? (I'm guessing Windows?)
2. What is the exact message you're getting?  Is it "The Polar FlowSync hook could not be installed.  Please ensure Polar FlowSync is not running before trying again."?  Or something else?
3. Is there a Polar FlowSync icon in you system tray?

Thanks.

[2016-06-14 08:09] rapter21 commented on #68
Hi Paul,

Yes it is Windows 8.1 Pro I am on. The message was just as you described. All polar apps were closed off of the system tray. I checked task manager but couldn't see anything that would be obviously polar related. Was just wondering is anyone new of any services they may run that I could close.

Richard

[2016-06-23 02:40] pcolby commented on #68
Hi @rapter21,

Sorry for the delay (I've been on holidays visiting family).

That particular message is non-fatal.  While its not possible / practical for the installer to report the _reason_ it failed, it app that gets installed can.

So, I'd suggest you run the installer again, and when it reports the error, simply click the "Ignore" button.  The installation should proceed as usual, you just wo

[2016-06-23 08:11] rapter21 commented on #68
Hi

No problem on the reply appreciate the advice.

I tried opening the app and I am getting the error the application was unable to start correctly(0xc000007b). Click OK to close the application.

Richard

[2016-06-23 22:09] pcolby commented on #68
Interesting.  Which Bipolar installer version are you using?  And what version of Windows?  And is your Windows 32 or 64-bit? Thanks :)

[2016-06-24 10:53] rapter21 commented on #68
Hi Paul,

I just tried the most up today's version from your website. How can I tell what version this is?

It is the 64bit version of Windows 8 I am on.

Richard

[2016-06-25 09:49] pcolby commented on #68
I don't have a website.  You probably mean Github or AppVeyor?

The easiest way is simply to look at the installer's filename (assuming you downloaded it from either Github or AppVeyor).

You can also check the file version info on the installer, and the installed application using Windows Explorer.

Cheers.

[2016-06-27 12:08] rapter21 commented on #68
Hi Paul,

Sorry yes it was GitHub. The version I have is 0.5.2.297.

Richard

[2016-08-19 06:39] pcolby commented on #67
Hi @loisks317, did you install the hook, then sync some activities?

Cheers.

[2016-08-19 06:40] #64 closed

[2016-08-19 06:43] pcolby opened #69 "Qt 5.7"

[2016-08-19 06:46] pcolby opened #70 "AppVeyor integration broken?"
Looks like AppVeyor changed something, eg https://ci.appveyor.com/project/pcolby/bipolar/build/broken-yml.305

[2016-08-19 07:28] pcolby commented on #70
Sorted.  AppVeyor changed their OAuth ID.

[2016-08-19 07:28] #70 closed

[2016-08-20 13:15] pcolby commented on #69
Well that took a lot more work than I expected... mostly for the 8a09bfb2979d1a4845cf2d6c68f07eb7c61e578b change.  Probably all working now... ? Just waiting for a full set of Linux, OSX, and Windows CI builds to run (46 build configurations in all)... fingers crossed.

[2016-08-22 05:16] #59 closed

[2016-08-22 05:18] pcolby commented on #53
This issue is no longer relevant since we're now using the Trusty 14.04 servers instead.

[2016-08-22 05:18] #53 closed

[2016-08-22 06:16] pcolby opened #71 "Speed up tests"
It now takes 3 hours for Travis CI and just over 6 hours on AppVeyor, to run through all tests on all configurations.

Anything we can do to reduce this will bring compound time savings.

[2016-08-22 06:18] pcolby opened #72 "Chocolatey instability on AppVeyor"
Do something about it sometime... maybe switch to a portable NSIS version, and enable caching?

[2016-08-22 06:19] pcolby commented on #72
Or maybe just add `--force` for now?

[2016-08-22 08:23] octomike opened #73 "Hangs on initial startup ? (linux)"
I was just trying to run Bipolar for the first time on a current Archlinux by building with `qmake && make` and then running `src/release/Bipolar`.
After the application starts it seems to hang forever in/after a Conversion step:

![2016-08-22-101917_559x360_scrot](https://cloud.githubusercontent.com/assets/5805185/17848160/332c4bbc-6852-11e6-9351-213cc9c0a939.png)

Is this a UI issue? Because it

[2016-08-22 09:49] pcolby commented on #73
Hi @octomike :smile:

No, that's not a UI issue... its already finished.

As it says at the top "Found no new training sessions to process."  The only left to do it close the dialog.

The way it works, is you now go and record some activities, then use Polar Flowsync to sync your watch to the Flow website.  Then, if you run Bipolar again, it should find whatever activities Flowsync synced.

Assumi

[2016-08-22 09:58] pcolby commented on #71
I think we can speed up the tests quite significantly if we maintain a dictionary of (read-only) parsed sessions instead of re-parsing each session for each test type.  Specifically, parsing the session samples data is quite time-consuming.

[2016-08-22 13:56] octomike commented on #73
Ah I see. I had some misconception about the purpose of the program I guess.

[2016-08-22 13:56] #73 closed

[2016-08-23 07:37] pcolby commented on #71
Well that's got it down to half... so pretty good improvement for now :smile:

[2016-08-23 09:43] psimps commented on #68
Hi Paul,
I have the same issue on a windows 7 home premium sp1, 64 bit laptop when trying to install bipolar 0.5.2.297 on it. The error code is Bipolar returned exit code 1073741701 while installing hook, and like rapter21 I get the message 'the application was unable to start correctly(0xc000007b). Click OK to close the application' after aborting and trying to run bipolar from the start menu. An

[2016-08-23 11:11] pcolby commented on #68
Hi @psimps, could you do me a favour by trying the [0.5.1](https://github.com/pcolby/bipolar/releases/tag/v0.5.1) installer instead?  I suspect something might have introduced the issue when I updated Bipolar 0.5.2 to Qt 5.6. Functionally, 0.5.1 and 0.5.2 are exactly the same, but 0.5.2 might have some slightly different dependencies that I haven't picked up on yet.

I'll have a play with it tomor

[2016-08-23 11:53] psimps commented on #68
Hi Paul, I've just tried the 0.5.1.255 exe file on my windows 7 laptop and got the same error message as before.
But, I did try to install bipolar 0.5.2.297 on my windows 10 laptop after updating with the anniversary update to get the IR USB support and on that laptop 0.5.2.297 installed completely fine plus was able to extract the .gpx .hrm files from the V800 after today's morning swim session.

[2016-08-24 07:33] #71 closed

[2016-08-24 07:33] #69 closed

[2016-08-24 07:48] pcolby commented on #68
Thanks @psimps, I can see that the NSIS installer is not setup to correctly installed the Visual C++ redistributables, and that would explain the behaviour you saw and @rapter21 saw.  I'll get that fixed up in the next release (0.5.4).  In the meantime, you can install the msvc2013 redistributables from [Microsoft here](https://www.microsoft.com/en-au/download/details.aspx?id=40784).

Cheers.

[2016-08-24 10:22] pcolby commented on #72
This issue will be completely superseded by using the version of NSIS that's now available on AppVeyor build hosts by default :smile:

[2016-08-24 10:22] #72 closed

[2016-10-13 08:57] pulmark opened #74 "TCX speed unit ?"
I integrated bipolar master branch into V800_downloader and build it. Now it seems to support cycling power data in HRM files with PPT5.

I noticed that TCX conversion uses km/h for speed data as it should be m/s. I don't know if this is specific to my environment, I use M450 for cycling, I have Powertap G3 hub and download training data directly from head unit via USB connection by using V800_dow

[2016-10-13 09:52] pcolby commented on #74
Hi @pulmark,

Interesting.  I didn't actually know what units TCX uses for speed.  Its not made clear in the [schema](http://www8.garmin.com/xmlschemas/TrainingCenterDatabasev2.xsd), and I never thought to check (a bit silly of me).  It should be very easy to convert... I'll take a closer look in the next couple of days.

You _could_, if you prefer, just use my [v800_downloader clone](https://gith

[2016-10-13 10:07] pulmark commented on #74
Ok, thanks for the info !

Yep, fix speed units is easy, I just did "divide by 3.6" modifications into the TrainingSession::toTCX() method.

I have working build environment now. I will investigate your v800_downloader clone. I don't know how you have done it but maybe building a separate library of bipolar parts that are common to V800_downloader and bipolar would be the next step ?

[2016-10-18 21:51] pcolby commented on #74
Yep, would be pretty easy to do - there's only a very small amount of UI logic that's leaked into the protobuf and Polar-specific classes that v800d uses.  I've put together [a basic project outline](https://github.com/pcolby/bipolar/projects/1) already, but its not a high priority right now.

Cheers.

[2016-10-21 13:29] pcolby commented on #67
No response in two months... assuming this is no longer a concern.  Feel free to reply if that's not a valid assumption.

Cheers.

[2016-10-21 13:29] #67 closed

[2016-10-26 05:36] pcolby commented on #68
No updates in more than a month, so I'm assuming that the 0.5.4 release fixed this.  Feel free to re-open this, or a new issue if there's still a problem.  Cheers.

[2016-10-26 05:36] #68 closed

[2016-11-14 14:13] MHatGH commented on #74
first of all - this is a very nice Project !!
I'm using it with a M400 and it works fine, so you can add the M400 to the list of supported models :-).
While testing the new extended tcx Option, I saw that you missed to change the unit of speed values when writing tcx files in extended Format. You changed it in summaries but not in the trackpoints.
I use RubiTracks 4 to view my data and I got wrong

[2016-11-14 22:31] MHatGH commented on #42
hi,
I think it is not necessary to record a separate RR-Session.
In Bipolar "QVariantMap TrainingSession::parseSamples(QIODevice &data) const"
you got this unused record "28".
I gues this containes RR-Samples used to calc the heard rate from.
Adding the following to the QVariantMap, works for me (not checked in detail but gives meaningful result at first glance, Thanks to rsc-dev/loophole, I got t

[2016-11-15 04:45] pcolby commented on #74
Thanks :)

Oh.  Can you provide more details of what you think is missed?  I had a good look, and thought I covered everything, but the specs are pretty ambiguous in their language.  Which "extended" format are you referring to? (Garmin Activity Extension or Garmin Course Extension?) and which child element or attribute of the trackpoint?  Thanks! :smile:

There's no timeline currently.  Its one o

[2016-11-15 04:58] pcolby commented on #42
Cool! Thanks @MHatGH!

If what you're saying is correct, then it means that sometime back around V800 1.2 firmware release Polar moved the R-R sample data from a standalone rrsamples file a new field (28) in the samples data instead.  If that's the case, then I'll definitely be able to update the app to use it.

:smile:

[2016-11-15 08:39] MHatGH commented on #74
hi,
refering to your current release:

In "QDomDocument TrainingSession::toTCX(const QString &buildTime) const"

"http://www.garmin.com/xmlschemas/ActivityExtension/v2"

LINE |
--------------------------------------------------------------------------------------------------

---------------------------------------------
2188 -> if (stats.contains(QLatin1String("speed"))) {
2189 ->     lx.appendCh

[2016-11-15 08:53] MHatGH commented on #74
_Out of curiosity, what application would you use the FIT output with? If there's something I can get my hands on to test generated FIT files, I might be more motivated to implement it_

I want to use it with RubiTracks 4 Pro. There is a Trial Option if you want to test it (mac only)
But FIT files are also supported at strava. And maybe others

For me this Format (as far as I read the docu) gives

[2016-11-15 10:45] MHatGH commented on #42
my pleasure !

With M400 the user do not have the Option for recording RR-Intervalls at all.
There is just an "Fitnes Test", wich records them for a 2-3min period.
But this results are stored in a separate RRSample file in a /FT - Folder on the device under the currecnt day.

So please do not delete this functionality of converting RRSample files, maybe there could be an application in future.

[2016-11-16 00:43] pcolby commented on #42
Understood! I'll add support the new field, while maintaining the existing support too :smile:

[2016-11-16 09:55] pcolby opened #75 "Swimming data"
... would be great to have some for unit tests.

[2016-11-16 10:11] pcolby commented on #74
Thanks @MHatGH!  Now I can exactly what was missing.  I really appreciate the effort you've made reporting the details for me :+1: I'll go ahead an fix that up now :smile:

PS: Good use of `QString::number`... I'm going to have to start using that one in a number of places now :)

[2016-12-29 03:40] #74 closed

[2016-12-29 03:40] #42 closed

[2017-01-07 22:48] roesassi opened #77 "How to re-process the previously downloaded data"
Dear @pcolby
given that the new Bipolar release can extract RR data, is there a way to force Bipolar to reprocess all the data downloaded over the months and still present in the temporary folder? Is there a file where it keeps the list of the activities processed?
Thanks a lot

[2017-01-07 23:00] pcolby commented on #77
Hi @roesassi,

The way Bipolar decides to skip already-processed activities, is by simply checking that all the chosen output formats are present.

For example, if you have TCX output enabled, and you delete (or move) the destination `*.tcx` file, then Bipolar to re-process that activity in order to (re-)generate the missing `*.tcx` output.

So, if you want to, just move all of the output files th

[2017-01-08 13:21] roesassi commented on #77
Thanks @pcolby
it worked like a charm!
Best

[2017-01-09 00:21] pcolby commented on #77
Good to hear :)

[2017-01-09 00:21] #77 closed

[2017-07-26 02:32] pcolby opened #79 "cppcheck fails on OSX only"
Restore `cppcheck` for OSX when [defect #7792](http://trac.cppcheck.net/ticket/7792) is fixed, and available on Travis CI (ie via [Homebrew](http://brewformulas.org/Cppcheck)).

Note, this is not an OSX-specific problem. OSX just happens to be getting a more-recent (and thus affected) version of `cppcheck` currently.

[2017-08-04 17:28] rgeorge1985 commented on #39
Hello friends,

Bit late to the party. I raise a similar issue with Bipolar not being able to recognize V800 R-R test files which are in .txt format. Was there a fix to this in the end? Can someone please guide me.

[2017-08-11 05:05] pcolby commented on #39
Hi @rgeorge1985,

Sorry, forgot all about this one.  As far as I can, where we got to, is that the R-R data was being captured (by the debug hook), then was broken by Polar (#42), then finally fixed again in Nov 2016.

So currently, it should be possible to update Bipolar to capture and export R-R test data to `*.txt` pretty easily. HRM should be fine too, as long as the necessary metadata is avai

[2017-09-21 15:33] zdhons opened #80 "RR-data from V800 now"
Hi,
is it possible to get RR-data together with training data from V800 with current firmware?
Thanks
Zdenek

[2017-09-24 05:55] pcolby commented on #80
Not that I know of 😦

[2017-09-24 08:12] zdhons commented on #80
Thank you for answer.

Zdenek

Odesláno z tabletu Samsung.

-------- Původní zpráva --------
Od: Paul Colby <notifications@github.com>
Datum: 2017. 09. 24 7:55 (GMT+01:00)
Komu: pcolby/bipolar <bipolar@noreply.github.com>
Cc: zdhons <zdhons@hotmail.com>, Author <author@noreply.github.com>
Předmět: Re: [pcolby/bipolar] RR-data from V800 now (#80)

Not that I know of 😦

—
You are receiving this beca

[2017-10-10 13:36] aj664 commented on #79
slightly unrelated... but cppcheck has issue with  /test/protobuf/testmessage.cpp line 38..  syntax error.   i have a strange feeling it has issue with foreach ( .. )    is that supposed to be for_each  as in std::for_each() ?

[2017-10-11 02:42] pcolby commented on #79
Thanks @aj664, which version of `cppcheck` are you seeing this on?

The `foreach` sholdn't be a problem (usually isn't) for `cppcheck`, because its a preprocessor macro (defined by Qt).

Thanks.

[2017-10-11 03:30] aj664 commented on #79
v1.80
ok, very likely that the Qt macro was not available during the test.  non-issue.

[2017-11-01 20:28] remifreiwald commented on #46
Hi! Since this issue has been open for a long time, I would like to ask, if you still need the test data?

A colleague of mine and I stumbled upon your software a couple of days ago and it works much better for us, than the outdated V800 downloader which includes your old code.

We would be happy to contribute!

Are there any other requirements besides "Laps and Power"?
Minimum number of laps or m

[2017-11-02 13:02] pcolby commented on #46
Hi @remifreiwald, thanks, some test data would be great!! 👍

No requirements other than Laps and Power.

Minimum number of laps would be 2, I guess, but 3 would be nicer.  Any more than 3 is fine, but unnecessary.

No minimum distance / cadence.  The laps can be quite short if you like.  Indeed, its better if they are pretty short so the total data is not too big (won't hurt - just make the tests

[2017-11-06 20:08] remifreiwald commented on #46
Hi @pcolby

Attached you will find a short training session including power data and 4 short laps taken directly from the Bipolar export folder.

I also included the resulting TCX and CSV files from the Flow Webservice, just in case you need a final result to compare against.

Cheers
Remi

[power data with laps.zip](https://github.com/pcolby/bipolar/files/1447636/power.data.with.laps.zip)

[2017-11-08 00:08] pcolby commented on #46
Thanks @remifreiwald, I've added your test data to the repo now. Thanks! 😄

[2017-11-08 00:08] #46 closed

[2017-11-15 13:06] remifreiwald commented on #75
Maybe I can help here out, too. Haven't been swimming the last couple of weeks, but I'm intending to go on Friday.

Any requirements?

[2017-11-15 13:59] remifreiwald opened #81 "Suggestion: Allow correction of left-right-balance data"
Recently, a colleague of mine and I were discussing the data Bipolar is generating regarding left-right-balance.

The numbers generated for left-right-balance should lie between 0 and 100. But there are values outside of this range. Probably not the fault of Bipolar; we think the data from V800 and its sensors is already wrong.

Our suggestion: Values outside of this range should be corrected to 5

[2017-11-15 14:06] remifreiwald commented on #81
Of course, one could argue that a value of 50 is just as wrong as a value of 130, if it should have been 90 at this point... Both are 40 points from the desired value...

Maybe it would be better to correct negative outliers to 0 and positive outliers to 100?

But that would not improve the teal-colored valleys in the screenshot.

[2017-11-16 09:37] pcolby commented on #75
Thanks @remifreiwald, that would be great! 😄  Can't really think of any requirements... I guess just multiple laps. Ideally with GPS (if you're swimming outdoors) and HR, but neither is critical.

Thanks!

[2017-11-16 10:34] pcolby commented on #81
Thanks @remifreiwald, some good suggestions there. Bipolar internally does a few things to determine LR balance, and its quite possible that the code is not quite right. I'll definitely take a look.

Just to confirm, are we talking HRM? (I'm not seeing LR balance values in the GPX/TCX code, but I could just be missing it)

Thanks.

[2017-11-16 19:25] remifreiwald commented on #81
Hey, yes, we only checked HRM files.

[2017-11-17 20:31] remifreiwald commented on #75
Since it's getting pretty cold outside I opted for the indoor pool... ;)

The zip file contains two folders:
1. A session with 3 laps
2. A session without laps

Both sessions consist of 150m swimming in a 25m pool, resulting in 6 pool lengths per session. The V800 recognized all turns correctly.

The laps were taken every 50m but not at the end of the session, since I just stopped the recording.

[2017-11-18 07:46] pcolby commented on #75
Thanks again @remifreiwald!! 😄

I've incorporated the swimming data into the test suite.

Interestingly, the data revealed a couple of minor bugs in my protobuf definitions... these affect parsing only, not any values that get used in the output formats, but still good to get fixed!  See https://github.com/pcolby/bipolar/commit/8b3d2b0070b10171dbbf30f4beee1de37117e4fa for details.

Thanks again!

[2017-11-18 07:46] #75 closed

[2017-11-20 05:07] pcolby commented on #81
Hi @remifreiwald, I've made a few tweaks to the way LR balance is calculated already... just to make the calculation more correct when data samples are missing (ie the sensor was temporarily offline).  But this doesn't do anything (yet) to validate / correct for erroneous extreme values.

I'd be very interested in seeing how the data looks after the most recent code changes.  Can you test using th

[2017-11-21 20:43] remifreiwald commented on #81
Hi! I will send you new data which contains different balancing values.

In the meantime you can work with the last data set which included power and laps. There are no extreme values, but at least you can check, if everything still works and nothing was broken.

To get the same view in Polar ProTrainer 5:
- Double-click on any day in the calendar
- Top-right corner: "Add New Exercise"
- Bottom-ri

[2017-11-24 07:43] jedie opened #82 "Compatible with M430 or M600 ?!?"
I'm thinking of buying M430 or M600 ... Can i use bipolar with one of them?

Is it possible that bipolar generally works when Polar FlowSync synchronizes with the clock?

I ask because the README contains this:

[2017-11-24 08:53] pcolby commented on #82
Hi @jedie, sorry I don't know.  It should generally work with any device the uses Polar FlowSync, but I've not been able to test either the M430 or M600. Maybe someone else will respond with their experience?

BTW, to work, FlowSync needs to sync more than just the clock - it has to sync the device's activity sessions with the flow.polar.com website.

If you do get either device, and have any trou

[2017-11-24 10:49] remifreiwald commented on #82
Hi @jedie and @pcolby!

M600 doesn't work, because it doesn't use FlowSync. The M600 only syncs to your Smartphone (with Android Wear App). When connecting the M600 to a PC/Laptop the battery gets charged, that's it.

But M430 works! You will even get RR data, as long as you're using an H7 or H10 sensor. The integrated optical sensor doesn't support RR data.

[2017-11-30 00:56] pcolby commented on #81
Unfortunately I don't access to a Window machine at the moment, so can't run PPT5 currently.

I you have a moment, you could have quick look at the test data pre/post this change by comparing, for example [training-sessions-267510822.hrm@1bd0eda](https://raw.githubusercontent.com/pcolby/bipolar/1bd0edab5fd037baa194bcd38d41e92637a2dcdb/test/polar/v2/testdata/training-sessions-267510822.hrm) to
[tra

[2017-12-01 19:13] remifreiwald commented on #81
Unfortunately the exercise contains only very "limited" balance data. The values are either 50 or 0.

In the screenshots you can see, that all 0 values were converted to 50.
And we can say, that PT5 is able to open the files.
So, at least that works.

My colleague will send me a suitable exercise file (probably monday). And I will try to compile the code myself. Just never worked with Qt before, o

[2017-12-05 21:32] remifreiwald commented on #81
Hey, I got new data, which contains more realistic balance values. The only thing missing is values outside of the range 0-100.

Attached you will find the data and the CSV/TCX exports from Flow.

I couldn't compile Bipolar, yet, because the Qt installation fails due to a time-out, have to check this again...

[balance-testdata.zip](https://github.com/pcolby/bipolar/files/1533043/balance-testdata.

[2017-12-07 06:07] pcolby commented on #81
Thanks @remifreiwald, here's a copy the resulting HRM file before and after the changes I made above.

[training-sessions-1988256040.zip](https://github.com/pcolby/bipolar/files/1537975/training-sessions-1988256040.zip)

Looks like its all good now.  But as you say, there's no extreme values outside the 0-100 range anyway. I think I'll keep this open until we get some more data that shows the prob

[2017-12-07 10:57] remifreiwald commented on #81
I checked the files in ProTrainer 5 and found out they actually contain outliers:

#1
Time: 0:02:32
Power: 29 Watts
Balance: L255 & -155R

#2
Time: 0:02:37
Power: 0 Watts
Balance: L255 & -155R

#3
Time: 0:02:55
Power: 0 Watts
Balance: 176 & -76R

I don't know if this is coming from the raw V800 data or if this is interpretated by Bipolar, but I guess, if we can fix this, everything should be fine

[2017-12-08 00:40] pcolby commented on #81
Ah, yep, can see the outliers in the data now. Will take a look :)

[2017-12-08 01:13] pcolby commented on #81
BTW, Bipolar already enforces a technical limit (imposed by the HRM format itself) for the balance to be between 0 and 255 (inclusive):

[code]

Which is why you don't see any negatives, but I've updated the code (just locally for now) to warn on negatives as well (was already warning on >100%), so now I get:

[code]

There you can see the three extreme positives you noted in your comment above, b

[2017-12-08 06:59] pcolby commented on #81
Hi @remifreiwald, just checking, this isn't a fixie is it? (not expect it is).  Just asking 'cause there's one sample where the left and right power samples are both negative, which is technically not possible (well, not this magnitude) on a coaster system. ie proves the data is wrong (at least for that one sample).

[2017-12-10 02:45] pcolby opened #83 "Remove network dependency for tests"
The functional GPX and TCX tests require network access to resolve external schemas, this is despite the fact that the project includes those schemas in the local test data.
Finding a way to force the tests to only use local, and never remote schemas, would make the test a little less brittle, and hopefully execute a bit faster too.

[2017-12-10 02:49] pcolby commented on #81
Almost done fixing this one, but just a quick note to point out that @remifreiwald's most recent data set includes a enough negativity in one sample, that the total power for that sample in negative, which results in the generated TCX files being invalid, since Garmin ActivityExtesion schema requires power to be a positive integer.

So I'll fix that up as part of this change too :)

[2017-12-10 08:20] pcolby commented on #81
Ok @remifreiwald, I've updated the code to filter out negative power samples, and restrict the LR balance to between 0 and 100 (c554552909ca1b8292509ffa735bf96ce94cca7b). This is in addition to the earlier change to use LR balance 50 when total power is 0, and both L and R match.

Have a look at the resulting HRM file, and let me know what you think: [training-sessions-1988256040.hrm](https://raw.

[2017-12-13 06:09] pcolby commented on #83
Specifically relates to: https://github.com/pcolby/bipolar/blob/80fb1f1195492a08ef4e8c33234feec9befd3ebd/test/polar/v2/testtrainingsession.cpp#L1094

Which is a result of:
https://github.com/pcolby/bipolar/blob/80fb1f1195492a08ef4e8c33234feec9befd3ebd/test/polar/v2/schemata/gpxdata10.xsd#L14

Possible solutions:
* set a custom network access manager; or
* modify the `schemaLocation` attribute at r

[2017-12-16 04:27] pcolby opened #84 "Parse test data only once"
To make the tests run faster (they are taking quite a long time to run now), it should be possible to parse all session data once (in `TestTrainingSession::initTestCase`) to immutable objects, then re-use those (making mutable copies where necessary) in all tests.

This would require:
* an appropriate copy constructor
* a number of `TrainingSession` methods to be marked as `const` (which they shou

[2017-12-16 04:59] pcolby commented on #84
Same goes for the XSD files too.  Though they don't get parsed all that many times, and won't improve the speed by much.

[2017-12-16 05:20] #45 closed

[2017-12-16 05:22] pcolby commented on #82
Thanks @remifreiwald for the answer :)
Closing this issue now. Feel free to re-open if you have more questions.
Thanks.

[2017-12-16 05:22] #82 closed

[2017-12-16 16:44] remifreiwald commented on #81
Hi @pcolby! Sorry, for the late answer...

The test gear used wasn't a fixie. It was a single gear, but freewheeling was possible.
We collected the data on a Wahoo Kickr (https://eu.wahoofitness.com/devices/bike-trainers) and took the power from Polar Kéo Power Pedals (https://support.polar.com/en/support/keo_power_bluetooth_smart).

My colleague, who was riding the bike, thinks it is possible, th

[2017-12-16 16:52] remifreiwald commented on #45
A little bit late, but just for the sake of completeness: Polar offers a new API called "Polar Open AccessLink" (https://www.polar.com/accesslink)

This API allows to retrieve training, activity and physical data from Polar Flow users.

[2017-12-17 01:37] pcolby commented on #81
Thanks @remifreiwald :)

Good pickup.  I can see the issue - the "equal to use 50" logic was comparing the pre-force-positive values... easy fix, coming up :)

[2017-12-17 08:29] pcolby commented on #81
I just pulled the trigger on the [v0.5.7 release](https://github.com/pcolby/bipolar/releases/tag/v0.5.7)... it'll take several hours before [Travis CI releases the `dmg`](https://travis-ci.org/pcolby/bipolar/builds/317610147) and around 24 hours (!!) before [AppVeyor releases the `exe`](https://ci.appveyor.com/project/pcolby/bipolar/build/master-522) to the [GitHub release page](https://github.com

[2017-12-17 22:28] pcolby commented on #81
Builds finished.  Latest installers available at https://github.com/pcolby/bipolar/releases/tag/v0.5.7 :)

[2017-12-17 22:30] #83 closed

[2017-12-22 09:54] #81 closed

[2018-01-17 18:40] remifreiwald opened #85 "Temperature in HRM files (swimming)"
Hey, it's me again! Hope you had a good start into the new year! :)

My colleague asked about temperature in HRM files. We looked into it and it seems that the HRM format shows temperature only for laps: https://www.polar.com/files/Polar_HRM_file%20format.pdf (pages 8 and 9)

I opened the data with swimming laps from issue #75 and the corresponding value showed 0.

Could you have a look at it and

[2018-01-23 16:25] pcolby commented on #85
Hmm... interesting.

The first problem is that the `[IntTimes]` section is for per-lap statistics, so, for example, one temperature for an entire lap (which seems a bit pointless to me, but anyway...), and the data from #75 has no laps.

But even then, looking at some of the older test data, it seems that even for sessions with laps, the temperature is still 0... not sure if that's a problem with

[2018-01-23 17:31] remifreiwald commented on #85
I agree, that an average temperature for a lap is in many cases (different sports) kind of pointless. But during Pool Swimming the temperature stays mostly the same and many pools have a regulated temperature. During my swimming sessions it only varied 0.1 degrees Celsius.

Ticket #75 must contain two sessions. One without laps and one including 3 laps. You requested laps, back then. :)

[2018-05-26 11:15] shaund opened #87 "Install Fails"
[code]

Said it couldn't find FlowSync. It's located in `C:\Program Files (x86)\Polar FlowSync`

.net failed cause I have newer version: `[1DF8:3E5C][2018-05-26T04:12:42]e000: Error 0x80070666: Cannot install a product when a newer version is installed.`

My OS is Windows 10 Enterprise.

[2018-05-26 14:12] pcolby commented on #87
Hi @shaund,

Bipolar goes to quite a bit of effort to locate Polar Flowsync (see [FlowSyncHook::flowSyncDir()](https://github.com/pcolby/bipolar/blob/v0.5.7/src/os/flowsynchook.cpp#L33)), this includes:

1. FlowSync's known uninstaller registry key (in each of the possible registry hives); and
2. standard locations under `%ProgramFiles%`, `%ProgramFiles(x86)%`, `%ProgramW6432%`; and
3. if all else

[2018-05-26 16:51] shaund commented on #87
Thanks for the fast response.

I might have chosen custom. I do that sometimes if a program tries to install into nested folders. But I couldn't say for sure.

I'll try 3. In the meantime, here's that key.

[code]

[2018-09-24 02:38] zisp commented on #17
Dragging out a very old thread, but is this still the case?  Phases are showing up fine on the flow website, but the exported files only seem to reference laps.  I was wondering if it was possible to pull phase information out of an activity with bipolar.

[2018-09-24 06:52] damianfidor opened #88 "Broken training file"
I have the same problem which was resolved in https://github.com/profanum429/v800_downloader/issues/11
I've actually done point 4. for eg.

$ for i in seq 264302 -1 1; do echo -n "$i: "; cat SAMPLES/SAMPLES | dd bs=1 count=$i 2>/dev/null | protoc --decode_raw >/dev/null && echo good && break; done
264302: Failed to parse input.
264301: Failed to parse input.
264300: Failed to parse input.
264299:

[2018-10-04 12:51] roesassi commented on #80
@pcolby: when I exercise using the H7 belt (and not the OH1 optical HR monitor) bipolar produces files with extension .rr.hrm which seem to contain sensible RR data. Am I wrong?

[2018-10-07 06:36] pcolby commented on #88
Hi @damianfidor, it appears the error occurred in [V800export::make_bipolar_names](https://github.com/profanum429/v800_downloader/blob/master/src/export/v800export.cpp#L100) (as you suggested already).  Since that function was interrupted, you'll probably need to complete the renaming yourself.

ie where you have the files:

[code]

The ones that don't start with `v2-users-` should.  You can see t

[2018-10-07 06:43] pcolby commented on #80
Thank you @roesassi, yes, you are correct. R-R support was restored in November - a couple of months after this issue was created, but I obviously didn't think / realise to come back an close one too :)

You can read about the update starting at: https://github.com/pcolby/bipolar/issues/42#issuecomment-260547607-permalink

Cheers.

[2018-10-07 06:47] pcolby commented on #80
@zdhons asked:

It is now, with V800 firmware 1.2 or later, using Bipolar 0.5.6 or later :) There's nothing you need to do, Bipolar just sees the data if present.  See #42 for details.

Cheers.

[2018-10-07 06:47] #80 closed

[2018-10-07 07:11] pcolby commented on #79
Note to self: easy to just restart [Job #831.1](https://travis-ci.org/pcolby/bipolar/jobs/286351483) to test.

[2018-10-07 13:43] zdhons commented on #80
Thank you very much.

Zdenek

Odesláno z tabletu Samsung.

-------- Původní zpráva --------
Od: Paul Colby <notifications@github.com>
Datum: 07.10.2018 8:47 (GMT+01:00)
Komu: pcolby/bipolar <bipolar@noreply.github.com>
Cc: zdhons <zdhons@hotmail.com>, Mention <mention@noreply.github.com>
Předmět: Re: [pcolby/bipolar] RR-data from V800 now (#80)

@zdhons<https://github.com/zdhons> asked:

is it pos

[2018-10-08 09:28] damianfidor commented on #88
Thank you @pcolby  !!
I got a valid gpx file by this hint !!

[2018-10-08 09:28] #88 closed

[2018-10-08 09:38] pcolby commented on #88
I'm very glad to hear it!! :)  I know how frustrating it can be to be missing an activity's route!

Cheers.

[2018-10-08 12:14] roesassi commented on #80
Thanks @pcolby and @zdhons. Thus RR data are available with Bipolar but not at all on the Polar Flow website. Weird! Another good reason to keep using Bipolar.

[2018-10-08 16:32] zdhons commented on #80
Thanks for very useful information!

S pozdravem
Zdeněk Hons
Od: notifications@github.com
Odesláno: 8. října 2018 6:26 odpoledne
Komu: bipolar@noreply.github.com
Odpověď komu: reply@reply.github.com
Kopie: zdhons@hotmail.com; mention@noreply.github.com
Předmět: Re: [pcolby/bipolar] RR-data from V800 now (#80)

@roesassi<https://github.com/roesassi> It gets even weirder...

The RR data is actually

[2018-10-08 23:06] pcolby commented on #80
@remifreiwald wrote:

Interesting.  I applied for that API access a couple of years ago, and never got any response...

Might have to look into it again :)

[2018-10-10 07:20] roesassi commented on #80
@remifreiwald Nice, thanks for the hint!

[2018-10-19 10:51] zdhons commented on #80
Hi Paul,

Polar has upgraded its Flow Sync ( 3.0.0 ). The new version does not collaborate with the bipolar "hook". Means I cannot get RR data from V800. Could you help?

Best regards
Zdenek

________________________________
From: roesassi <notifications@github.com>
Sent: Wednesday, October 10, 2018 9:20 AM
To: pcolby/bipolar
Cc: zdhons; Mention
Subject: Re: [pcolby/bipolar] RR-data from V800 now

[2018-10-19 11:04] pcolby opened #89 "Update hook for FlowSync 3.0 compatibility"
As reported by @zdhons in https://github.com/pcolby/bipolar/issues/80#issuecomment-431324125, FlowSync 3.0.0 is no longer compatible with the hook version packaged with Bipolar.  We need to update the hook to match whatever FlowSync is using now.

I've already checked, and seen that FlowSync on MacOS X uses Qt 5.5.1.  Will check Windows next.

*Reminder:* we track FlowSync's Qt versions at https:/

[2018-10-19 11:06] pcolby commented on #80
Thanks @zdhons. I've opened a new issue (#89) for updating the hook version.

[2018-10-19 11:17] pcolby commented on #89
@zdhons, can I confirm that you are using a Mac?  It appears that FlowSync 3.0 has moved the OSX version to using Qt 5.5.1, but FlowSync was (and still is) using Qt 5.5.1 since version 2.6.2, so that doesn't appear to have changed (on Windows).

?

Thanks :)

[2018-10-19 11:29] pcolby commented on #80
Hmm. Interesting.  Can you expand on "does not collaborate with the bipolar hook"?

What happens when you run Bipolar?  What message(s) do you get?

[2018-10-19 11:59] zdhons commented on #80
When I have installed the new Flow Sync and then  run Bipolar I received message: "The Bipolar hook does not appear to be installed. Would you like to install now?" After hook installing the Flow Sync does not run: Windows reports program failure and requests to stop it.

________________________________
From: Paul Colby <notifications@github.com>
Sent: Friday, October 19, 2018 1:29:18 PM
To: pcol

[2018-10-19 22:45] pcolby commented on #80
Just to be sure, are you using Bipolar 0.5.7? (the latest release)

Can you give me a directory listing (with byte filesizes) for everything in the FlowSync directory?

Thanks.

[2018-10-20 08:05] zdhons commented on #80
Yes, 0.5.7.

 Directory of c:\Program Files (x86)\Polar\Polar FlowSync

19.10.2018  12:38    <DIR>          .
19.10.2018  12:38    <DIR>          ..
19.10.2018  12:38    <DIR>          Bonjour
19.10.2018  12:38    <DIR>          CDC
17.09.2018  03:27         1ÿ397ÿ248 flowsync.exe
30.04.2015  02:20        25ÿ338ÿ368 icudt54.dll
30.04.2015  02:20         2ÿ056ÿ704 icuin54.dll
30.04.2015  02:20

[2018-10-20 14:56] ArtMag commented on #89
I must update Polar FlowSync 3.0. When I changed oryginal hook  Qt5Network.dll (2015) on your (12-2017), Polar FlowSync didn`t work. I used Windows 7.0.

[2018-10-20 22:18] roesassi commented on #80
Flow forced me to update to version 3 today (on Windows 10). After the update I verified that the hook was installed running bipolar. Then I connected the V800 and uploaded the data to Flow. This time, however, the hook did not work (the folder was empty and no new file was created).
Then I uninstalled both Flow and Bipolar and reinstalled everything again. This time I noticed that Flow most often

[2018-10-20 23:48] pcolby commented on #80
Thanks @zdhons and @roesassi. Let's continue this under #89.

[2018-10-20 23:54] pcolby commented on #89
Thanks everyone. I'll take a look at a Windows host later today.

[2018-10-21 02:40] pcolby commented on #89
Ok, so the most obvious changes for FlowSync 2.6.2 (last version for Windows) to 3.0.0 on Windows:

1. moved VC runtimes from msvc*100 to msvc*120 (ie Visual C++ 2010 to 2013)
2. updated OpenSSL from 1.0.1g to 1.0.2o

The first one is most likely the cause of the crash (to be expected).  The second change should still be binary compatibly, but since I'll have to update the hook to match the VC run

[2018-10-21 03:44] pcolby commented on #89
Ok, there's an updated `Q5Network.dll` available.  There's no code changes, just rebuilt with VS 2013 and OpenSSL 1.0.2p - it fixes the crash :)

You can install it manually for now - just drop the dll into the FlowSync directory. I'll release an updated full Bipolar installer later (probably not till tomorrow).

* https://github.com/pcolby/bipolar/releases/tag/hook-2-fs300
* https://github.com/pc

[2018-10-21 06:34] ArtMag commented on #89
Thank you for new hook and fast reaction. Hook works well :) It is important for me because I am doing research in Nepal now. I have hundreds hours data from many V800 and only 24 h for synchronisation with PolarFlow. New upgrade PolarFlowSync suprise me. I know that I can download all data from Polar Flow (RR data also) in JONS-format but Bipolar have better for me formats.
Thank you again.

[2018-10-21 08:44] zdhons commented on #89
Paul, thanks very much for your prompt help! I could not use my FirstBeat Athlete without RR-data. Do you think about the Bipolar service for new Polar Vantage?

Best regards

Zdenek

________________________________
From: Paul Colby <notifications@github.com>
Sent: Sunday, October 21, 2018 5:44:13 AM
To: pcolby/bipolar
Cc: zdhons; Mention
Subject: Re: [pcolby/bipolar] FlowSync 3.0 compatibility (

[2018-10-21 09:16] roesassi commented on #89
@pcolby thanks a lot. I also tried the new dll and it worked as a charm. If it might be of any help, I noticed that in the `AppData\Local\Polar\PolarFlowSync\export` folder, the hook saved a file which I never saw in the last three years, named `v2-users-275367-activities`.

[2018-10-28 10:52] roesassi commented on #87
I installed Bipolar-0.5.8.567 on Windows 10 and during the installation process, a popup window complained that it was impossible to install the Microsoft Visual C++ 2015 Redistributable (x64) - 14.0.24215 included. Retrying didn't help. It is likely because I already had a newer/equivalent version installed, as everything runs smoothly.
Just a silly question, [on this page](https://github.com/pco

[2018-10-29 07:20] pcolby commented on #87
Hi @roesassi,

Yeah, the updated hook is not included in 0.5.8.  It has only just been included in [Bipolar 0.5.9](https://github.com/pcolby/bipolar/releases/tag/v0.5.9) - the Windows installer for that release is currently [building on AppVeyor](https://ci.appveyor.com/project/pcolby/bipolar/builds/19870844), and will be automatically added to GitHub once its done (OSX dmg is already there).

The

[2018-11-14 09:22] roesassi commented on #87
I installed the new version Bipolar-0.5.9.596.exe but it still says that it was impossible to install the Microsoft Visual C++ 2015 Redistributable (x64). This is the part of the log:

It is probably due to the fact that I already have them installed. Ignoring the issue complete the installation with no problem.

Regarding the V800downloader, it is possible that the files downloaded are renamed be

[2018-11-16 11:06] pcolby commented on #87
Seems like this is a known bug in some versions of Microsoft Visual C++ 2015 redistributable - https://support.microsoft.com/en-au/help/4092997/vc-2015-redistributable-install-error-1638-when-newer-version-present

Yes, they are deleted once converted.  That's just how the V800_downloader was written.  You can probably just comment out [this line](https://github.com/profanum429/v800_downloader/blo

[2019-02-20 17:05] roesassi opened #91 "Bipolar compatible with Vantage V & M?"
I was wondering if anyone tried to use Bipolar with the new Polar Vantage M & V devices. Is everything smooth as with the V800?
Thanks!

[2019-02-20 23:02] pcolby commented on #91
Yeah, I've been wondering the same thing :)

[2019-02-23 19:55] turhake commented on #91
Hi, I've been using Vantage V since November and Bipolar works with it as well as with V800. Such a great tool, thank you!
One minor thing though: Bipolar's file naming system seems to be ignoring $sessionName option, so I'm missing the sports type in the file name of extracted files (they are now "_date time_ .tcx" instead of "_date time_ **running**.tcx")

[2019-02-24 03:11] pcolby commented on #91
Thanks @turhake, this is really good to know :)

Interesting.  Is this something specific to the VV only, or you're seeing it with the V800 as well?

If its specific to the VV, would you be willing to provide a sample data file so I can debug it? (Will walk you through the process if you're happy to do it)

Thanks.

[2019-02-24 09:32] turhake commented on #91
Thank you for your ultrafast response, @pcolby

I just looked back to my Bipolar output folder, and it indeed seems that filenames changed when I first started to use VV. Before that I was forced to use M400 for couple of months as my V800 got fog inside and eventually the front glass went completely off. The watch still works, but is not too outdoor sports compatible anymore... :) Anyways, both V

[2019-02-24 13:09] pcolby commented on #91
Excellent! Thanks @turhake.

To provide some sample data, go into the Bipolar `export` folder under the Window's `%APPDATA%` directory - typically `C:\Users\<your login>\AppData\Local\Polar\PolarFlowSync\export` on Windows, or something like `~/Library/Application Support/PolarFlowSync/export` on OSX. (Note that the `%APPDATA%` directory is usually hidden by Windows).

There you should see a lot o

[2019-02-24 16:08] turhake commented on #91
Great! Thank you @pcolby
I've just sent you email with sample data.
Many thanks!

[2019-02-24 23:07] pcolby commented on #91
Thanks @turhake, I got the email and can see the initial issue... the session name is supposed to be in session-create protobuf field `11/1`, but for your data it's empty:

[code]

I'll have to work out an appropriate fallback; something like:
* session name, if present, or
* some other protobuf field the VV may have added, or
* the activity type name/s, or
* some fixed value like `unknown`.

Than

[2019-03-09 17:11] madshatlevik opened #92 "FlowSync crash after installing Bipolar (mac)"
After installing BiPolar and the hook, FlowSync crashes. Im using the lates version of FlowSync 3.0.0.1337 on mac.

Error: dyld: Library not loaded: @rpath/QtNetwork.framework/Versions/5/QtNetwork
  Referenced from: /Applications/FlowSync.app/Contents/MacOS/FlowSync
  Reason: no suitable image found.  Did find:
	/Applications/FlowSync.app/Contents/MacOS/../Frameworks/QtNetwork.framework/Versions/5

[2019-03-11 04:56] pcolby commented on #92
Thanks @madshatlevik, I don't have access to a (modern) OSX host currently, so this might take a little to diagnose.

What version of OSX are you running?
What version of Bipolar? (I assume 0.5.9 (the latest), but just checking)

Would you be able to run the following commands?

[code]

Both before (ie on a fresh FlowSync install), and after installing the hook?

Thanks!

[2019-03-11 16:04] madshatlevik commented on #92
Hi!

Here are the output on fresh FlowSync install:

$ cat /Applications/FlowSync.app/Contents/Frameworks/QtNetwork.framework/Versions/5/Resources/Info.plist

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleS

[2019-03-11 17:12] madshatlevik commented on #92
Forgot to answer the two questions: Latest OSX Mojave 10.14.3 and latest Bipolar 0.5.9.

[2019-03-12 00:29] pcolby commented on #92
Thanks @madshatlevik,

That show's the issue... :)

The original FlowSync for OSX targeted a 32-bit architecture, so the hook needed to do the same. However, it seems the latest FlowSync is now built for 64-bit architectures instead. I'm not sure exactly when the switch occurred (will be interesting to trace it), but regardless, the solution is to update Bipolar to supply a 64-bit OSX hook now. I'

[2019-03-12 08:53] madshatlevik commented on #92
Thanks! Looking forward to the update :)

[2019-03-12 14:02] pcolby commented on #92
Ok, that (part) was easy.  Travis CI is now building the new x86_64 builds. Note, I've also created a temporary `hook-tmp-issue-92` tag, so Travis CI has somewhere to put the 'release artefacts', so we'll need to wait for both to complete. Then we'll have a new standalone hook to test.

I probably won't get time to test it tomorrow, but of course you're welcome to test it yourself once baked.

Onc

[2019-03-12 14:03] pcolby commented on #92
* branch builds: https://travis-ci.org/pcolby/bipolar/builds/505235729
* tag builds: https://travis-ci.org/pcolby/bipolar/builds/505237341

[2019-03-13 22:36] pcolby commented on #92
The hook finally built (Travis was having a lot of timeout issues downloading the Qt sources). I don't have time to test it just now, but you can try the latest hook from https://github.com/pcolby/bipolar/releases/tag/hook-tmp-issue-92 if you're keen (just download the QtNetwork-macosx10.10 one, and rename it to QtNetwork before overwriting the one included with the Bipolar package).

Let me know

[2019-03-13 22:49] madshatlevik commented on #92
I just downloaded and tested it and it works great. Thanks a lot!

[2019-03-14 01:03] pcolby commented on #92
Thanks @madshatlevik, that's excellent news! :)

I'll get the Bipolar installer updated to include the new hook, and release once I've added the session name fallback for #91.

Thanks again.

[2019-03-16 13:15] pcolby commented on #91
The `$sessionName` fallback (to sport-type name) has been release in 0.5.10 :)

https://github.com/pcolby/bipolar/releases/tag/v0.5.10

[2019-03-16 13:16] pcolby commented on #92
The updated hook has now been released on 0.5.10 :)

https://github.com/pcolby/bipolar/releases/tag/v0.5.10

[2019-03-16 13:16] #92 closed

[2020-03-15 12:12] #91 closed